openapi: 3.0.1
info:
  title: Enrollment Management
  description: Blackbaud Education Management API for Enrollment Management
  version: '1.0'
servers:
  - url: https://api.sky.blackbaud.com/afe-edems
paths:
  /v1/candidates:
    get:
      tags:
        - Candidates
      summary: Candidate list (Get)
      description: "Returns a collection of admission candidates.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li><li>Platform Manager</li><li>SKY API Data Sync</li></ul>"
      operationId: V1CandidatesGet
      parameters:
        - name: school_year
          in: query
          description: Specify the ID or label of a school year to limit results to candidates for that entry year. Defaults to current admissions year.
          schema:
            type: string
        - name: status
          in: query
          description: Specify the ID or description of the candidate status to limit results to candidates with that status.
          schema:
            type: string
        - name: modified_date
          in: query
          description: 'Specify a date to limit results to candidates modified on or after that date. Use ISO-8601 date format: 2025-04-30'
          schema:
            type: string
            format: date-time
        - name: size
          in: query
          description: The number of records per page (Default record size is 3000).
          schema:
            type: integer
            format: int32
            default: 3000
        - name: page
          in: query
          description: The page of results to start from (Default start page is 1).
          schema:
            type: integer
            format: int32
            default: 1
        - name: school_level
          in: query
          description: Provide the ID of the school level to limit results to candidates for that school level.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateReadCollection'
              example:
                count: 1
                value:
                  - user:
                      id: 1
                      first_name: John
                      last_name: Smith
                      middle_name: Quincy
                      preferred_name: Jack
                      prefix: Mr.
                      suffix: Jr.
                      email: john@example.com
                      cc_email: john2@example.com
                      gender:
                        abbreviation: M
                        id: 1
                        description: Male
                      pronouns:
                        id: 1
                        description: He/Him
                      ethnicity:
                        id: 1
                        description: Korean
                      is_international: false
                      boarding_or_day: D
                      school_program:
                        id: 1
                        description: College Prep
                      race:
                        - id: 1
                          description: Asian
                    entering_year:
                      id: 1
                      description: 2025 - 2026
                    entering_grade:
                      abbreviation: 9th
                      id: 1
                      description: Ninth Grade
                    role:
                      id: 1
                      description: Candidate
                    candidate_status: Active
                    status:
                      date: '2024-03-31T12:00:00.0000000+00:00'
                      id: 1
                      description: Under Review
                    school_decision:
                      id: 1
                      decision:
                        id: 1
                        description: Accepted with conditions
                        type:
                          id: 1
                          description: Sample Value
                      date: '2024-03-31T12:00:00.0000000+00:00'
                      publish_date: '2024-03-31T12:00:00.0000000+00:00'
                      expire_date: '2024-04-30T12:00:00.0000000+00:00'
                      comment: A schooled comment
                      candidate_response:
                        id: 1
                        response:
                          description: Declined due to finances
                          type:
                            id: 1
                            description: Sample Value
                        date: '2024-03-31T12:00:00.0000000+00:00'
                        decline_reason:
                          id: 1
                          description: Sample Value
                        chosen_school:
                          id: 1
                          description: Sample Value
                    family_photo:
                      url: somesite/photos/john.jpg
                      keep_private: false
                    inquiry:
                      id: 1
                      form:
                        id: 1
                        description: API Form
                      source:
                        id: 1
                        description: Sample value
                      date_submitted: '2024-03-03T12:00:00.0000000+00:00'
                      date_processed: '2024-03-03T12:00:00.0000000+00:00'
                    referral:
                      id: 1
                      description: Friend
                      comment: A friend at the school
                    has_i20_form: false
                    languages_at_home: 'English, Korean'
                    requested_financial_aid: false
                    has_iep: false
                    has_504_plan: false
                    has_private_evaluation: false
                    bbtm_family_id: 1
                    created_by: Created by User
                    created: '2024-03-01T12:00:00.0000000+00:00'
                    modified_by: Modified by User
                    modified: '2024-03-03T12:00:00.0000000+00:00'
                    reapply:
                      has_previously_applied: true
                      school_comment: A schooled comment
                      candidate_comment: A candid comment
                    skipped_grade:
                      has_skipped_grade: true
                      school_comment: A schooled comment
                      candidate_comment: A candid comment
                    withdrawn:
                      has_withdrawn: true
                      school_comment: A schooled comment
                      candidate_comment: A candid comment
                    special_concerns:
                      has_special_concerns: true
                      school_comment: A schooled comment
                      candidate_comment: A candid comment
                    educational_support:
                      has_educational_support: true
                      documentational_url: somesite/files/edu_supp.doc
                      school_comment: A schooled comment
                      candidate_comment: A candid comment
                    tutoring:
                      requires_tutoring: true
                      reason: At remedial math levels
                    application:
                      id: 1
                      form:
                        id: 1
                        description: API Form
                      date_submitted: '2024-03-31T12:00:00.0000000+00:00'
                      date_processed: '2024-03-31T12:00:00.0000000+00:00'
                    relationships:
                      - id: 1
                        type: Parent
                        user:
                          id: 1
                          first_name: John
                          last_name: Smith
                          preferred_name: Jack
                          email: johnsr@example.com
                    admissions_staff:
                      id: 1
                      prefix: Mr.
                      first_name: Kianna
                      middle_name: Mark
                      last_name: Reed
                      suffix: Jr.
                      preferred_name: ''
                      preferred_last_name: Reed
                      maiden_name: ''
                      email: kianna@example.com
                    consultant:
                      id: 1
                      prefix: Mrs.
                      first_name: Sally
                      middle_name: ''
                      last_name: Greene
                      suffix: Sr.
                      preferred_name: Sally
                      preferred_last_name: ''
                      maiden_name: ''
                      email: sally@example.com
                    sending_school:
                      id: 1
                      school:
                        id: 1
                        name: Lowcountry Montessori
                      type:
                        id: 1
                        description: Early Education
                      grade_level:
                        abbreviation: 3rd
                        id: 1
                        description: Third grade
                      date_from: '2022-03-31T12:00:00.0000000+00:00'
                      date_to: '2024-03-31T12:00:00.0000000+00:00'
                    events:
                      - id: 1
                        name: Open House
                        start_time: '2024-03-31T12:00:00.0000000+00:00'
                        is_registered: true
                        attended: false
                        comment: An eventful comment
                    interviews:
                      - id: 1
                        start_time: '2024-03-31T12:00:00.0000000+00:00'
                        end_time: '2024-03-31T12:00:00.0000000+00:00'
                        interviewer_other: John Bridges
                        rating: 10
                        is_rescheduled: false
                        comment: A candid comment
                    visits:
                      - id: 1
                        start_time: '2024-03-31T12:00:00.0000000+00:00'
                        end_time: '2024-03-31T12:00:00.0000000+00:00'
                        guide_other: John Bridges
                        is_rescheduled: false
                        comment: A candid comment
                    candidate_checklist:
                      id: 1
                      name: Standard Checklist
                    custom_fields_text:
                      - field_identifier: text_field_7
                        field_name: Favorite color
                        field_value: Burnt sienna
                    custom_fields_date:
                      - field_identifier: date_field_7
                        field_name: Favorite day
                        field_value: '2023-03-29'
                    custom_fields_defined:
                      - field_identifier: defined_field_7
                        field_name: T-shirt size
                        field_value: Medium
    post:
      tags:
        - Candidates
      summary: Candidate (Create)
      description: "Creates a candidate record for the user for a specified school year.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li><li>Platform Manager</li><li>SKY API Data Sync</li></ul>"
      operationId: V1CandidatesPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCandidateRequest'
            example:
              user_id: 1
              entering_year: 2024 - 2025
              entering_grade: 1st grade
              checklist_type: 1
      responses:
        '200':
          description: Returns user id on success
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 0
  '/v1/studentchecklists/{student_id}':
    get:
      tags:
        - StudentChecklists
      summary: Student checklist list - single student (Get)
      description: "Returns a student's checklists and their steps for a specified year.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1StudentchecklistsByStudent_idGet
      parameters:
        - name: student_id
          in: path
          description: The ID of the student
          required: true
          schema:
            type: integer
            format: int32
        - name: school_year
          in: query
          description: The ID or label of the school year. Defaults to current admissions year.
          schema:
            type: string
        - name: student_checklist_type_id
          in: query
          description: The ID of student checklist type
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentChecklistsResponse'
              example:
                - checklist:
                    id: 1
                    type:
                      id: 1
                      name: Re-enrollment
                      is_inactive: false
                      is_archived: false
                      school_year:
                        id: 1
                        description: 2024 - 2025
                  steps:
                    - id: 1
                      type:
                        id: 1
                        name: Update medical history
                        type: Medical form
                        description: Provide necessary medical info
                        due_date: '2022-03-31T12:00:00.0000000+00:00'
                        is_inactive: false
                        is_required: false
                        link: www.example.com
                        link_text: Medical form
                        file: filename.doc
                      status: Awaiting
                      date_completed: '2022-03-31T12:00:00.0000000+00:00'
                      file: med_history.pdf
                      comment: Comment
  '/v1/studentchecklists/{student_id}/{student_checklist_id}/steps/{step_id}':
    patch:
      tags:
        - StudentChecklists
      summary: Student checklist step (Edit)
      description: "Updates a step on a student checklist.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1StudentchecklistsByStudent_idByStudent_checklist_idStepsByStep_idPatch
      parameters:
        - name: student_id
          in: path
          description: The ID of the student
          required: true
          schema:
            type: integer
            format: int32
        - name: step_id
          in: path
          description: The ID of the student�s instance of the checklist step
          required: true
          schema:
            type: integer
            format: int32
        - name: student_checklist_id
          in: path
          description: The ID of the student's instance of the student checklist
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The step model to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentChecklistStepUpdate'
            example:
              status: Submitted
              date_completed: '2025-08-31T12:00:00.0000000+00:00'
              comment: A stependous comment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 0
  /v1/types/candidatestatuses:
    get:
      tags:
        - Types
      summary: Candidate status type list (Get)
      description: "Returns a collection of admission statuses.\n\r\nRequires one of the following roles in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li><li>Platform Manager</li><li>SKY API Data Sync</li></ul>"
      operationId: V1TypesCandidatestatusesGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateStatusReadCollection'
              example:
                count: 1
                value:
                  - id: 1
                    description: Applied
                    next_status:
                      id: 2
                      description: Under Review
  /v1/types/checkliststatuses:
    get:
      tags:
        - Types
      summary: Candidate checklist status type list (Get)
      description: "Returns a collection of admissions checklist statuses.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li><li>Platform Manager</li><li>SKY API Data Sync</li></ul>"
      operationId: V1TypesCheckliststatusesGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistStatusReadCollection'
              example:
                count: 1
                value:
                  - id: 1
                    description: Waiting
                    ordinal: 1
  /v1/types/studentchecklisttypes:
    get:
      tags:
        - Types
      summary: Student checklist type list (Get)
      description: "Returns the student checklists defined in the system.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1TypesStudentchecklisttypesGet
      parameters:
        - name: school_year
          in: query
          description: Set to the ID or label of a school year to limit results to that year. Defaults to current admissions year.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentChecklistTypeWithStepsCollection'
              example:
                count: 1
                value:
                  - id: 1
                    name: Re-enrollment
                    is_inactive: false
                    is_archived: false
                    school_year:
                      id: 1
                      description: 2024 - 2025
                    steps:
                      - id: 1
                        name: Name
                        type: Type
                        description: Description
                        is_inactive: false
                        is_required: true
                        link: Link
                        link_text: LinkText
                        file: File
  '/v1/types/studentchecklisttypes/{student_checklist_type_id}':
    get:
      tags:
        - Types
      summary: Student checklist type (Get)
      description: "Returns a student checklist for the checklist.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1TypesStudentchecklisttypesByStudent_checklist_type_idGet
      parameters:
        - name: student_checklist_type_id
          in: path
          description: The ID of the student checklist type
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentChecklistTypeWithSteps'
              example:
                id: 1
                name: Re-enrollment
                is_inactive: false
                is_archived: false
                school_year:
                  id: 1
                  description: 2024 - 2025
                steps:
                  - id: 1
                    name: Name
                    type: Type
                    description: Description
                    is_inactive: false
                    is_required: true
                    link: Link
                    link_text: LinkText
                    file: File
  /v1/types/checklistTypes:
    get:
      tags:
        - Types
      summary: Candidate checklist type list (Get)
      description: "Returns a collection of checklist types.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1TypesChecklistTypesGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistTypeReadCollection'
              example:
                count: 1
                value:
                  - id: 1
                    name: Standard Candidate Checklist
                    is_inactive: false
                    is_archived: false
  '/v1/types/checklistTypes/{checklist_type_id}':
    get:
      tags:
        - Types
      summary: Candidate checklist type (Get)
      description: "Returns a checklist and the steps defined for the checklist.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1TypesChecklistTypesByChecklist_type_idGet
      parameters:
        - name: checklist_type_id
          in: path
          description: The ID of the checklist type
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecklistTypeWithStepsRead'
              example:
                id: 1
                name: Standard Candidate Checklist
                is_inactive: false
                is_archived: false
                steps:
                  - id: 1
                    name: Math recommendation
                    type: Recommendation
                    milestone: Application
                    due_date_default: '2015-08-31T12:00:00.0000000+00:00'
                    publishing_options:
                      use_options: true
                      name: Math Teacher Appraisal
                      description: Feedback on the maths
                      link: www.example.com/recs
                      file: www.example.com/recs/sample.doc
  '/v1/tests/{candidate_id}':
    post:
      tags:
        - Tests
      summary: Test (Create)
      description: "Add test for candidate.\n\r\nRequires one of the following roles in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1TestsByCandidate_idPost
      parameters:
        - name: candidate_id
          in: path
          description: The user ID of the candidate
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The request containing the test details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateTestAdd'
            example:
              type: ISEE
              test_date: '2024-06-20T12:00:00.0000000+00:00'
              registered_date: '2024-06-20T12:00:00.0000000+00:00'
              location: Brannon Center � auditiorium
              proctor_by: 1
              proctor_by_other: Joanne Smith
              was_rescheduled: false
              did_not_show: false
              score: 1200
              comment: A testy subject.
              attachment:
                temp_name: x1z9_hin334922xd_a91e.pdf
                original_name: MyFile.pdf
              sub_tests:
                - type: Verbal Reasoning
                  score: 150.5
                  percentile: 99.9
                  scale: 300
                  stanie: 10.5
      responses:
        '200':
          description: Returns test score id on success
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 0
  /v1/inquiries:
    post:
      tags:
        - Inquiries
      summary: Inquiry (Create)
      description: "Create an inquiry.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1InquiriesPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInquiryRequest'
            example:
              candidate:
                first_name: John
                last_name: Smith
                middle_name: Holmes
                preferred_name: Jack
                prefix: Mr.
                suffix: Jr.
                gender: Male
                birthdate: '2015-05-31T12:00:00.0000000+00:00'
                home_address:
                  addressline1: 123 Main St
                  addressline2: Apt 4B
                  addressline3: ''
                  city: Anytown
                  state: CA
                  province: ''
                  zipcode: '12345'
                  region: West
                  country: USA
                home_number: 555-1234
                business_number: 555-5678
                email: jsmith@example.com
                races:
                  - White
                  - Asian
                ethnicity: Korean
                citizenship: Korea
                boarding_or_day: D
                is_international: false
                school_program: 5-Day Program
                religion: Hindu
                languages_at_home:
                  - language: English
                  - language: Korean
                person_inquiring:
                  name: Suwen Cho
                  relationship_type: Mother
              entering:
                school_year: 2026-2027
                grade_level: Ninth
                session: Fall Session
              households:
                - address_same_as_student: true
                  home_address:
                    addressline1: 123 Main St
                    addressline2: Apt 4B
                    addressline3: ''
                    city: Anytown
                    state: CA
                    province: ''
                    zipcode: '12345'
                    region: West
                    country: USA
                  home_phone: 555-1234
                  resides_with: true
                  relationship1:
                    relationship_to_student: parent
                    is_custodial_parent: true
                    user:
                      first_name: Jane
                      middle_name: Ellen
                      last_name: Smith
                      preferred_name: Janie
                      email: janesmith@gmail.com
                      prefix: Mrs.
                      suffix: esquire
                      gender: Female
                      pronouns: She/Her/Hers
                      living_status: Married
                      wireless_phone: 555-1234
                      business:
                        job_title: Product Manager
                        name: Blackbaud
                        business_phone: 555-1234
                        business_fax: 555-1234
                        business_address:
                          addressline1: 123 Main St
                          addressline2: Apt 4B
                          addressline3: ''
                          city: Anytown
                          state: CA
                          province: ''
                          zipcode: '12345'
                          region: West
                          country: USA
                  relationship2:
                    relationship_to_student: parent
                    is_custodial_parent: true
                    user:
                      first_name: Jane
                      middle_name: Ellen
                      last_name: Smith
                      preferred_name: Janie
                      email: janesmith@gmail.com
                      prefix: Mrs.
                      suffix: esquire
                      gender: Female
                      pronouns: She/Her/Hers
                      living_status: Married
                      wireless_phone: 555-1234
                      business:
                        job_title: Product Manager
                        name: Blackbaud
                        business_phone: 555-1234
                        business_fax: 555-1234
                        business_address:
                          addressline1: 123 Main St
                          addressline2: Apt 4B
                          addressline3: ''
                          city: Anytown
                          state: CA
                          province: ''
                          zipcode: '12345'
                          region: West
                          country: USA
              interests:
                - type: Blitzball
                  importance: 5
                  proficiency: 5
                  requests_contact: true
                  candidate_comments: A candid comment
              current_school:
                school: Mailahst School
                other_name: The Mailahst School for Military Endeavors
                current_grade: 8th
                city: Springfield
                state: IL
                country: United States
                gpa: 3.4
              referral:
                type: Friend
                text: A friend at the school
                referrers:
                  - is_existing_family: true
                    family_name: Jones
                    notes: Super nice guy
              requests_financial_aid: true
              custom_fields_text:
                - field_identifier: text_field_7
                  field_name: Favorite color
                  field_value: Burnt sienna
              custom_fields_date:
                - field_identifier: date_field_7
                  field_name: Favorite day
                  field_value: '2023-03-29'
              custom_fields_defined:
                - field_identifier: defined_field_7
                  field_name: T-shirt size
                  field_value: Medium
      responses:
        '200':
          description: Returns inquiry id on success
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 0
    get:
      tags:
        - Inquiries
      summary: Inquiry list (Get)
      description: "Returns list of inquiry and its data.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1InquiriesGet
      parameters:
        - name: entering_year
          in: query
          description: The ID or label of the school year.
          schema:
            type: string
        - name: as_of_date
          in: query
          description: 'Set to a date to limit results to inquiries submitted on or after that date. Use ISO 8601 date format: 2023-04-30'
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Returns list of inquiry and its data.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InquiryRead'
              example:
                count: 1
                value:
                  - id: 1
                    date_submitted: '2015-05-31T12:00:00.0000000+00:00'
                    date_processed: '2015-05-31T12:00:00.0000000+00:00'
                    user_id: 1
                    candidate:
                      first_name: John
                      last_name: Smith
                      middle_name: Holmes
                      preferred_name: Jack
                      prefix: Mr.
                      suffix: Jr.
                      gender:
                        abbreviation: M
                        id: 1
                        description: Male
                      pronouns:
                        id: 1
                        description: He/Him/His
                      birthdate: '2015-05-31T12:00:00.0000000+00:00'
                      home_address:
                        addressline1: 123 Main St
                        addressline2: Apt 4B
                        addressline3: ''
                        city: Anytown
                        state: CA
                        province: ''
                        zipcode: '12345'
                        region: West
                        country: USA
                      home_number: 555-1234
                      business_number: 555-5678
                      email: jsmith@example.com
                      races:
                        - id: 1
                          description: White
                      ethnicity:
                        id: 1
                        description: Korean
                      citizenship:
                        id: 1
                        description: Korea
                      boarding_or_day: D
                      is_international: false
                      school_program:
                        id: 1
                        description: 5-Day Program
                      religion:
                        id: 1
                        description: Christian
                      languages_at_home:
                        - id: 1
                          description: English
                        - id: 2
                          description: Korean
                      person_inquiring:
                        name: Suwen Cho
                        relationship_type:
                          id: 1
                          description: Mother
                    form:
                      id: 1
                      description: Api Form
                    entering_year:
                      school_year:
                        id: 1
                        description: 2024 - 2025
                      grade_level:
                        abbreviation: '9'
                        id: 1
                        description: Ninth
                      school_level:
                        id: 1
                        description: Upper school
                      session:
                        id: 1
                        description: Fall Session
                    households:
                      - address_same_as_student: true
                        home_address:
                          addressline1: 123 Main St
                          addressline2: Apt 4B
                          addressline3: ''
                          city: Anytown
                          state: CA
                          province: ''
                          zipcode: '12345'
                          region: West
                          country: USA
                        home_phone: 555-1234
                        resides_with: true
                        relationship1:
                          type: Parent
                          is_custodial_parent: true
                          user:
                            first_name: John
                            middle_name: Holmes
                            last_name: Smith
                            preferred_name: Jack
                            email: johnsmith@gmail.com
                            prefix: Mr.
                            suffix: Jr.
                            gender:
                              abbreviation: M
                              id: 1
                              description: Male
                            pronouns:
                              id: 1
                              description: He/Him/His
                            living_status:
                              id: 1
                              description: Single
                            wireless_phone: 555-1234
                            business:
                              job_title: Product Manager
                              name: Blackbaud
                              business_phone: 555-1234
                              business_fax: 555-1234
                              business_address:
                                addressline1: 123 Main St
                                addressline2: Apt 4B
                                addressline3: ''
                                city: Anytown
                                state: CA
                                province: ''
                                zipcode: '12345'
                                region: West
                                country: USA
                        relationship2:
                          type: Parent
                          is_custodial_parent: true
                          user:
                            first_name: John
                            middle_name: Holmes
                            last_name: Smith
                            preferred_name: Jack
                            email: johnsmith@gmail.com
                            prefix: Mr.
                            suffix: Jr.
                            gender:
                              abbreviation: M
                              id: 1
                              description: Male
                            pronouns:
                              id: 1
                              description: He/Him/His
                            living_status:
                              id: 1
                              description: Single
                            wireless_phone: 555-1234
                            business:
                              job_title: Product Manager
                              name: Blackbaud
                              business_phone: 555-1234
                              business_fax: 555-1234
                              business_address:
                                addressline1: 123 Main St
                                addressline2: Apt 4B
                                addressline3: ''
                                city: Anytown
                                state: CA
                                province: ''
                                zipcode: '12345'
                                region: West
                                country: USA
                    current_school:
                      school:
                        id: 5664
                        description: Advanced  Academy
                      other_name: The Mailahst School for Military Endeavors
                      current_grade:
                        abbreviation: 9th
                        id: 1
                        description: Ninth Grade
                      city: Springfield
                      state: IL
                      province: ''
                      country: United States
                      gpa: 3.4
                    referral:
                      type: Friend
                      text: A friend at the school
                      referrers:
                        - is_existing_family: true
                          family_name: Jones
                          notes: Super nice guy.
                    requests_financial_aid: false
                    interests:
                      - candidate_comments: A candid comment
                        importance: 5
                        proficiency: 5
                        requests_contact: true
                        type:
                          id: 2
                          description: Basketball
                    custom_text_fields:
                      - identifier: text_field_1
                        name: Bus Number
                        value: '106'
                    custom_date_fields:
                      - identifier: date_field_1
                        name: Confirmation date
                        value: '2022-05-31T05:30:00.0000000+00:00'
                    custom_defined_fields:
                      - identifier: defined_field_1
                        name: Tee-shirt size
                        value: X-large
  '/v1/candidatestatuses/{candidate_id}':
    get:
      tags:
        - CandidateStatuses
      summary: Candidate status change list - single candidate (Get)
      description: "Returns the status history for a candidate.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1CandidatestatusesByCandidate_idGet
      parameters:
        - name: candidate_id
          in: path
          description: The user ID of the candidate.
          required: true
          schema:
            type: integer
            format: int32
        - name: school_year
          in: query
          description: The ID or label of the entering school year. Defaults to current admissions year.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateStatusChangeCollection'
              example:
                count: 1
                value:
                  - candidate:
                      id: 1
                      prefix: Mr.
                      first_name: Kianna
                      middle_name: Mark
                      last_name: Reed
                      suffix: Jr.
                      preferred_name: ''
                      preferred_last_name: Reed
                      maiden_name: ''
                      email: kianna@example.com
                    type:
                      id: 1
                      description: Inquiry
                    date: '2024-03-31T12:00:00.0000000+00:00'
  /v1/tests:
    get:
      tags:
        - Tests
      summary: Test list (Get)
      description: "Returns tests scores for candidates.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1TestsGet
      parameters:
        - name: size
          in: query
          description: The number of records per page (Default record size is 100).
          schema:
            type: integer
            format: int32
            default: 100
        - name: page
          in: query
          description: The page of results to start from (Default start page is 1).
          schema:
            type: integer
            format: int32
            default: 1
        - name: test_type
          in: query
          description: Provide the ID or name of a test type to limit results to that test type.
          schema:
            type: string
        - name: start_date
          in: query
          description: Limits results to tests with a test date on or after the specified date. Use ISO 8601 date format.
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: Limits results to tests with a test date on or before the specified date. Use ISO 8601 date format.
          schema:
            type: string
            format: date-time
        - name: last_modified
          in: query
          description: Limits results to tests created or modified after the specified date.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateTestReadCollection'
              example:
                count: 1
                value:
                  - id: 1
                    user:
                      id: 1
                      prefix: Mrs.
                      first_name: Sally
                      middle_name: ''
                      last_name: Greene
                      suffix: Jr.
                      preferred_name: Sally
                      preferred_last_name: L
                      maiden_name: ''
                      email: sally@example.com
                    type:
                      id: 11
                      description: Test1
                    test_date: '2024-08-31T12:00:00.0000000+00:00'
                    registered_date: '2024-08-31T12:00:00.0000000+00:00'
                    location: Brannon Center � auditiorium
                    proctor_by:
                      id: 1
                      prefix: Mr.
                      first_name: Kianna
                      middle_name: Mark
                      last_name: Reed
                      suffix: Jr.
                      preferred_name: ''
                      preferred_last_name: Reed
                      maiden_name: ''
                      email: kianna@example.com
                    proctor_by_other: Joanne Smith
                    was_rescheduled: false
                    did_not_show: false
                    score: 1200
                    comment: A testy subject
                    sub_tests:
                      - type:
                          id: 111
                          description: SubTest1
                        score: 150.5
                        percentile: 99.5
                        scale: 300
                        stanine: 10.5
                    last_modified: '2024-08-31T12:00:00.0000000+00:00'
  /v1/candidatestatuses:
    get:
      tags:
        - CandidateStatuses
      summary: Candidate status change list (Get)
      description: "Returns the candidate status changes for a year.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1CandidatestatusesGet
      parameters:
        - name: school_year
          in: query
          description: The ID or label of the entering school year. Defaults to current admissions year.
          schema:
            type: string
        - name: status_type
          in: query
          description: The ID or description of a candidate status type. Limits results to status changes of that type.
          schema:
            type: string
        - name: start_date
          in: query
          description: Limits results to status changes occurring on or after the specified date.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateStatusChangeCollection'
              example:
                count: 1
                value:
                  - candidate:
                      id: 1
                      prefix: Mr.
                      first_name: Kianna
                      middle_name: Mark
                      last_name: Reed
                      suffix: Jr.
                      preferred_name: ''
                      preferred_last_name: Reed
                      maiden_name: ''
                      email: kianna@example.com
                    type:
                      id: 1
                      description: Inquiry
                    date: '2024-03-31T12:00:00.0000000+00:00'
  '/v1/candidates/{candidate_id}':
    patch:
      tags:
        - Candidates
      summary: Candidate (Edit)
      description: "Updates candidate information for the specified entering year.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1CandidatesByCandidate_idPatch
      parameters:
        - name: candidate_id
          in: path
          description: The user ID of the candidate.
          required: true
          schema:
            type: integer
            format: int32
        - name: school_year
          in: query
          description: The ID or description of the school year the candidate is entering. Defaults to current admission year.
          schema:
            type: string
      requestBody:
        description: The candidate details to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateUpdateRequest'
            example:
              entering_year: 2024 - 2025
              entering_grade: Ninth grade
              status: active
              inactive_status_reason: Denied Acceptance
              staff_id: 1
              consultants:
                - 1
              has_i20_form: false
              source: Recruiter
              referral: Friend
              referral_text: A friend at the school
              languages_at_home: 'English, Korean'
              requested_financial_aid: false
              has_iep: false
              has504: false
              has_private_evaluation: false
              reapply:
                has_previously_applied: true
                school_comment: A schooled comment
                candidate_comment: A candid comment
              skipped_grade:
                has_skipped_grade: true
                school_comment: A schooled comment
                candidate_comment: A candid comment
              withdrawn:
                has_withdrawn: true
                school_comment: A schooled comment
                candidate_comment: A candid comment
              special_concerns:
                has_special_concerns: true
                school_comment: A schooled comment
                candidate_comment: A candid comment
              tutoring:
                requires_tutoring: true
                reason: At remedial math levels
              custom_fields_text:
                - field_identifier: text_field_7
                  field_name: Favorite color
                  field_value: Burnt sienna
              custom_fields_date:
                - field_identifier: date_field_7
                  field_name: Favorite day
                  field_value: '2023-03-29'
              custom_fields_defined:
                - field_identifier: defined_field_7
                  field_name: T-shirt size
                  field_value: Medium
      responses:
        '200':
          description: Returns user id on success
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 0
    get:
      tags:
        - Candidates
      summary: Candidate (Get)
      description: "Returns a candidate's information for a specific year. Defaults to the current admissions year.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1CandidatesByCandidate_idGet
      parameters:
        - name: candidate_id
          in: path
          description: The user ID of the candidate
          required: true
          schema:
            type: integer
            format: int32
        - name: school_year
          in: query
          description: The ID or description for the school year. Defaults to the current admissions year.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateRead'
              example:
                user:
                  id: 1
                  first_name: John
                  last_name: Smith
                  middle_name: Quincy
                  preferred_name: Jack
                  prefix: Mr.
                  suffix: Jr.
                  email: john@example.com
                  cc_email: john2@example.com
                  gender:
                    abbreviation: M
                    id: 1
                    description: Male
                  pronouns:
                    id: 1
                    description: He/Him
                  ethnicity:
                    id: 1
                    description: Korean
                  is_international: false
                  boarding_or_day: D
                  school_program:
                    id: 1
                    description: College Prep
                  race:
                    - id: 1
                      description: Asian
                entering_year:
                  id: 1
                  description: 2025 - 2026
                entering_grade:
                  abbreviation: 9th
                  id: 1
                  description: Ninth Grade
                role:
                  id: 1
                  description: Candidate
                status:
                  date: '2024-03-31T12:00:00.0000000+00:00'
                  id: 1
                  description: Under Review
                school_decision:
                  id: 1
                  decision:
                    id: 1
                    description: Accepted with conditions
                    type:
                      id: 1
                      description: Sample Value
                  date: '2024-03-31T12:00:00.0000000+00:00'
                  publish_date: '2024-03-31T12:00:00.0000000+00:00'
                  expire_date: '2024-04-30T12:00:00.0000000+00:00'
                  comment: A schooled comment
                  candidate_response:
                    id: 1
                    response:
                      description: Declined due to finances
                      type:
                        id: 1
                        description: Sample Value
                    date: '2024-03-31T12:00:00.0000000+00:00'
                    decline_reason:
                      id: 1
                      description: Sample Value
                    chosen_school:
                      id: 1
                      description: Sample Value
                family_photo:
                  url: somesite/photos/john.jpg
                  keep_private: false
                inquiry:
                  id: 1
                  form:
                    id: 1
                    description: API Form
                  source:
                    id: 1
                    description: Sample value
                  date_submitted: '2024-03-03T12:00:00.0000000+00:00'
                  date_processed: '2024-03-03T12:00:00.0000000+00:00'
                referral:
                  id: 1
                  description: Friend
                  comment: A friend at the school
                has_i20_form: false
                languages_at_home: 'English, Korean'
                requested_financial_aid: false
                has_iep: false
                has_504_plan: false
                has_private_evaluation: false
                bbtm_family_id: 1
                created_by: Created by User
                created: '2024-03-01T12:00:00.0000000+00:00'
                modified_by: Modified by User
                modified: '2024-03-03T12:00:00.0000000+00:00'
                reapply:
                  has_previously_applied: true
                  school_comment: A schooled comment
                  candidate_comment: A candid comment
                skipped_grade:
                  has_skipped_grade: true
                  school_comment: A schooled comment
                  candidate_comment: A candid comment
                withdrawn:
                  has_withdrawn: true
                  school_comment: A schooled comment
                  candidate_comment: A candid comment
                special_concerns:
                  has_special_concerns: true
                  school_comment: A schooled comment
                  candidate_comment: A candid comment
                educational_support:
                  has_educational_support: true
                  documentational_url: somesite/files/edu_supp.doc
                  school_comment: A schooled comment
                  candidate_comment: A candid comment
                tutoring:
                  requires_tutoring: true
                  reason: At remedial math levels
                application:
                  id: 1
                  form:
                    id: 1
                    description: API Form
                  date_submitted: '2024-03-31T12:00:00.0000000+00:00'
                  date_processed: '2024-03-31T12:00:00.0000000+00:00'
                relationships:
                  - id: 1
                    type: Parent
                    user:
                      id: 1
                      first_name: John
                      last_name: Smith
                      preferred_name: Jack
                      email: johnsr@example.com
                admissions_staff:
                  id: 1
                  prefix: Mr.
                  first_name: Kianna
                  middle_name: Mark
                  last_name: Reed
                  suffix: Jr.
                  preferred_name: ''
                  preferred_last_name: Reed
                  maiden_name: ''
                  email: kianna@example.com
                consultant:
                  id: 1
                  prefix: Mrs.
                  first_name: Sally
                  middle_name: ''
                  last_name: Greene
                  suffix: Sr.
                  preferred_name: Sally
                  preferred_last_name: ''
                  maiden_name: ''
                  email: sally@example.com
                sending_school:
                  id: 1
                  school:
                    id: 1
                    name: Lowcountry Montessori
                  type:
                    id: 1
                    description: Early Education
                  grade_level:
                    abbreviation: 3rd
                    id: 1
                    description: Third grade
                  date_from: '2022-03-31T12:00:00.0000000+00:00'
                  date_to: '2024-03-31T12:00:00.0000000+00:00'
                events:
                  - id: 1
                    name: Open House
                    start_time: '2024-03-31T12:00:00.0000000+00:00'
                    is_registered: true
                    attended: false
                    comment: An eventful comment
                interviews:
                  - id: 1
                    start_time: '2024-03-31T12:00:00.0000000+00:00'
                    end_time: '2024-03-31T12:00:00.0000000+00:00'
                    interviewer_other: John Bridges
                    rating: 10
                    is_rescheduled: false
                    comment: A candid comment
                visits:
                  - id: 1
                    start_time: '2024-03-31T12:00:00.0000000+00:00'
                    end_time: '2024-03-31T12:00:00.0000000+00:00'
                    guide_other: John Bridges
                    is_rescheduled: false
                    comment: A candid comment
                candidate_checklist:
                  id: 1
                  name: Standard Checklist
                custom_fields_text:
                  - field_identifier: text_field_7
                    field_name: Favorite color
                    field_value: Burnt sienna
                custom_fields_date:
                  - field_identifier: date_field_7
                    field_name: Favorite day
                    field_value: '2023-03-29'
                custom_fields_defined:
                  - field_identifier: defined_field_7
                    field_name: T-shirt size
                    field_value: Medium
  '/v1/inquiries/{inquiry_id}':
    get:
      tags:
        - Inquiries
      summary: Inquiry (Get)
      description: "Returns an inquiry and its data.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1InquiriesByInquiry_idGet
      parameters:
        - name: inquiry_id
          in: path
          description: The ID of the inquiry.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Returns an inquiry and its data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquiryRead'
              example:
                id: 1
                date_submitted: '2015-05-31T12:00:00.0000000+00:00'
                date_processed: '2015-05-31T12:00:00.0000000+00:00'
                user_id: 1
                candidate:
                  first_name: John
                  last_name: Smith
                  middle_name: Holmes
                  preferred_name: Jack
                  prefix: Mr.
                  suffix: Jr.
                  gender:
                    abbreviation: M
                    id: 1
                    description: Male
                  pronouns:
                    id: 1
                    description: He/Him/His
                  birthdate: '2015-05-31T12:00:00.0000000+00:00'
                  home_address:
                    addressline1: 123 Main St
                    addressline2: Apt 4B
                    addressline3: ''
                    city: Anytown
                    state: CA
                    province: ''
                    zipcode: '12345'
                    region: West
                    country: USA
                  home_number: 555-1234
                  business_number: 555-5678
                  email: jsmith@example.com
                  races:
                    - id: 1
                      description: White
                  ethnicity:
                    id: 1
                    description: Korean
                  citizenship:
                    id: 1
                    description: Korea
                  boarding_or_day: D
                  is_international: false
                  school_program:
                    id: 1
                    description: 5-Day Program
                  religion:
                    id: 1
                    description: Christian
                  languages_at_home:
                    - id: 1
                      description: English
                    - id: 2
                      description: Korean
                  person_inquiring:
                    name: Suwen Cho
                    relationship_type:
                      id: 1
                      description: Mother
                form:
                  id: 1
                  description: Api Form
                entering_year:
                  school_year:
                    id: 1
                    description: 2024 - 2025
                  grade_level:
                    abbreviation: '9'
                    id: 1
                    description: Ninth
                  school_level:
                    id: 1
                    description: Upper school
                  session:
                    id: 1
                    description: Fall Session
                households:
                  - address_same_as_student: true
                    home_address:
                      addressline1: 123 Main St
                      addressline2: Apt 4B
                      addressline3: ''
                      city: Anytown
                      state: CA
                      province: ''
                      zipcode: '12345'
                      region: West
                      country: USA
                    home_phone: 555-1234
                    resides_with: true
                    relationship1:
                      type: Parent
                      is_custodial_parent: true
                      user:
                        first_name: John
                        middle_name: Holmes
                        last_name: Smith
                        preferred_name: Jack
                        email: johnsmith@gmail.com
                        prefix: Mr.
                        suffix: Jr.
                        gender:
                          abbreviation: M
                          id: 1
                          description: Male
                        pronouns:
                          id: 1
                          description: He/Him/His
                        living_status:
                          id: 1
                          description: Single
                        wireless_phone: 555-1234
                        business:
                          job_title: Product Manager
                          name: Blackbaud
                          business_phone: 555-1234
                          business_fax: 555-1234
                          business_address:
                            addressline1: 123 Main St
                            addressline2: Apt 4B
                            addressline3: ''
                            city: Anytown
                            state: CA
                            province: ''
                            zipcode: '12345'
                            region: West
                            country: USA
                    relationship2:
                      type: Parent
                      is_custodial_parent: true
                      user:
                        first_name: John
                        middle_name: Holmes
                        last_name: Smith
                        preferred_name: Jack
                        email: johnsmith@gmail.com
                        prefix: Mr.
                        suffix: Jr.
                        gender:
                          abbreviation: M
                          id: 1
                          description: Male
                        pronouns:
                          id: 1
                          description: He/Him/His
                        living_status:
                          id: 1
                          description: Single
                        wireless_phone: 555-1234
                        business:
                          job_title: Product Manager
                          name: Blackbaud
                          business_phone: 555-1234
                          business_fax: 555-1234
                          business_address:
                            addressline1: 123 Main St
                            addressline2: Apt 4B
                            addressline3: ''
                            city: Anytown
                            state: CA
                            province: ''
                            zipcode: '12345'
                            region: West
                            country: USA
                current_school:
                  school:
                    id: 5664
                    description: Advanced  Academy
                  other_name: The Mailahst School for Military Endeavors
                  current_grade:
                    abbreviation: 9th
                    id: 1
                    description: Ninth Grade
                  city: Springfield
                  state: IL
                  province: ''
                  country: United States
                  gpa: 3.4
                referral:
                  type: Friend
                  text: A friend at the school
                  referrers:
                    - is_existing_family: true
                      family_name: Jones
                      notes: Super nice guy.
                requests_financial_aid: false
                interests:
                  - candidate_comments: A candid comment
                    importance: 5
                    proficiency: 5
                    requests_contact: true
                    type:
                      id: 2
                      description: Basketball
                custom_text_fields:
                  - identifier: text_field_1
                    name: Bus Number
                    value: '106'
                custom_date_fields:
                  - identifier: date_field_1
                    name: Confirmation date
                    value: '2022-05-31T05:30:00.0000000+00:00'
                custom_defined_fields:
                  - identifier: defined_field_1
                    name: Tee-shirt size
                    value: X-large
    delete:
      tags:
        - Inquiries
      summary: Inquiry (Delete)
      description: "Deletes an inquiry.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1InquiriesByInquiry_idDelete
      parameters:
        - name: inquiry_id
          in: path
          description: The ID of the inquiry.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Returns inquiry ID.
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 0
  /v1/types/interesttypes:
    get:
      tags:
        - Types
      summary: Interest type list (Get)
      description: Returns the types of interests defined for use.
      operationId: V1TypesInteresttypesGet
      parameters:
        - name: category
          in: query
          description: The ID of an interest category to limit results to the specified category. Interest categories are returned by Types table values.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterestTypeCollection'
              example:
                count: 1
                value:
                  - id: 528
                    description: Cross Country Running
                    is_active: false
                    is_admissions: false
                    category:
                      id: 76
                      description: Athletics
  '/v1/checklists/{candidate_id}':
    get:
      tags:
        - Checklists
      summary: Candidate checklist (Get)
      description: "Returns a candidate's checklist for a specified year.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1ChecklistsByCandidate_idGet
      parameters:
        - name: candidate_id
          in: path
          description: The ID of the candidate
          required: true
          schema:
            type: integer
            format: int32
        - name: entering_year
          in: query
          description: Set to the ID or label of a school year. Defaults to current admissions year.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateChecklist'
              example:
                type:
                  id: 1
                  name: Standard Candidate Checklist
                  is_inactive: false
                  is_archived: false
                steps:
                  - id: 1
                    type:
                      id: 1
                      name: Math recommendation
                      type: Recommendation
                      milestone: Application
                      due_date_default: '2015-08-31T12:00:00.0000000+00:00'
                      publishing_options:
                        use_options: true
                        name: Math Teacher Appraisal
                        description: Feedback on the maths
                        link: www.example.com/recs
                        file: www.example.com/recs/sample.doc
                    status: Awaiting
                    due_date: '2025-08-31T12:00:00.0000000+00:00'
                    date_completed: '2025-08-31T12:00:00.0000000+00:00'
                    comment: A comment
  '/v1/checklists/{candidate_id}/steps':
    patch:
      tags:
        - Checklists
      summary: Candidate checklist step (Edit)
      description: "Updates a checklist step on a candidate's checklist\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1ChecklistsByCandidate_idStepsPatch
      parameters:
        - name: candidate_id
          in: path
          description: The ID of the candidate
          required: true
          schema:
            type: integer
            format: int32
        - name: entering_year
          in: query
          description: The ID or label of the entering year. Defaults to current admissions year.
          schema:
            type: string
      requestBody:
        description: The update model with a candidate's checklist step values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateChecklistStepEdit'
            example:
              step_type_id: 1
              status: Waived
              date_due: '2025-08-31T12:00:00.0000000+00:00'
              date_completed: '2025-08-31T12:00:00.0000000+00:00'
              comment: A stependous comment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 0
  /v1/studentchecklists:
    get:
      tags:
        - StudentChecklists
      summary: Student checklist list (Get)
      description: "Returns list of student checklists for a school year.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>"
      operationId: V1StudentchecklistsGet
      parameters:
        - name: school_year
          in: query
          description: The ID or label of a school year. Defaults to current admissions year.
          schema:
            type: string
        - name: student_checklist_type_id
          in: query
          description: Provide the ID of the student checklist type to limit results to that checklist.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentChecklist'
              example:
                - id: 17
                  candidate:
                    id: 1574394
                    first_name: Samantha
                    middle_name: J.
                    last_name: Hill
                    email: SamanthH@sis.org
                  type:
                    id: 17
                    name: Re-Enrollment Checklist
                    is_inactive: true
                    is_archived: true
                    school_year:
                      id: 530
                      description: 2019 - 2020
                - id: 17
                  candidate:
                    id: 1574551
                    first_name: Tina
                    last_name: Young
                    email: tiny@sisacademy.com
                  type:
                    id: 17
                    name: Re-Enrollment Checklist
                    is_inactive: true
                    is_archived: true
                    school_year:
                      id: 530
                      description: 2019 - 2020
  '/v1/contracts/{user_id}/{contract_id}':
    get:
      tags:
        - Contracts
      summary: Contract (Get) (PREVIEW)
      description: "Return information about a contract.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li><li>Parent, Parent of incoming student, Parent of candidate</li><li>Candidate, Incoming student, Student</li></ul>\n\n***This endpoint is in PREVIEW and may be changed or removed at any time.***"
      operationId: V1ContractsByUser_idByContract_idGet
      parameters:
        - name: user_id
          in: path
          description: The user ID of the candidate or student
          required: true
          schema:
            type: integer
            format: int32
        - name: contract_id
          in: path
          description: The ID of the candidate or student’s instance of the contract
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserContractRead'
              example:
                user:
                  id: 1
                  prefix: Mr.
                  first_name: John
                  middle_name: Quincy
                  last_name: Smith
                  suffix: Jr.
                  preferred_name: Jack
                  email: john@example.com
                contract:
                  id: 1
                  name: 2027 Standard Contract
                  type:
                    id: 1
                    description: New contract type
                  school_year:
                    id: 1
                    description: 2025 - 2026
                  publish_date: '2026-11-01T12:00:00.0000000+00:00'
                  expire_date: '2027-05-01T12:00:00.0000000+00:00'
                  is_inactive: false
                date_generated: '2026-11-01T12:00:00.0000000+00:00'
                due_date: '2027-05-01T12:00:00.0000000+00:00'
                date_sent: '2027-05-01T12:00:00.0000000+00:00'
                date_returned: '2027-05-01T12:00:00.0000000+00:00'
                date_processed: '2027-05-01T12:00:00.0000000+00:00'
                tuition: 1000
                tuition_insurance: false
                deposits:
                  - amount_due: 1000
                    amount_received: 1000
                    received_date: '2027-05-01T12:00:00.0000000+00:00'
                    paid_by:
                      id: 1
                      prefix: Mr.
                      first_name: Kianna
                      middle_name: Mark
                      last_name: Reed
                      suffix: Jr.
                      preferred_name: ''
                      preferred_last_name: Reed
                      maiden_name: ''
                      email: kianna@example.com
                fees:
                  - name:
                      id: 4
                      description: Enrollment Fees
                    amount: 100
                    category: Enrollment Fees
                signers:
                  - user:
                      id: 1
                      prefix: Mr.
                      first_name: John
                      middle_name: Quincy
                      last_name: Smith
                      suffix: Jr.
                      preferred_name: Jack
                      email: john@example.com
                    date_signed: '2027-05-01T12:00:00.0000000+00:00'
                    date_accepted: '2027-05-01T12:00:00.0000000+00:00'
                hold:
                  on_hold: false
                  type: Financial
                  comment: The hold truth
                not_returning:
                  not_returning: false
                  confirmed_date: '2027-05-01T12:00:00.0000000+00:00'
                  confirmed_by:
                    id: 1
                    prefix: Mr.
                    first_name: Kianna
                    middle_name: Mark
                    last_name: Reed
                    suffix: Jr.
                    preferred_name: ''
                    preferred_last_name: Reed
                    maiden_name: ''
                    email: kianna@example.com
                  reason: The reasonable reason
                special_text: The special contract text
                comment: Uncommon comments
                attachment: …/files/contract.pdf
                status: Submitted
                financial_aid_awards:
                  - type:
                      id: 5
                      description: Financial Aid
                    amount: 100
                selected_payment_plans:
                  - payment_plan:
                      id: 1
                      name: 4-Pay Plan
                      number_of_payments: 4
                      is_inactive: false
                      insurance_required: false
                    payers:
                      - id: 1
                        prefix: Mr.
                        first_name: John
                        middle_name: Quincy
                        last_name: Smith
                        suffix: Jr.
                        preferred_name: Jack
                        email: john@example.com
                    payment_remaining: 0
  '/v1/contracts/{user_id}':
    get:
      tags:
        - Contracts
      summary: Contract list - single student (Get) (PREVIEW)
      description: "Return the list of contracts for a candidate or student.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li><li>Parent, Parent of incoming student, Parent of candidate</li><li>Candidate, Incoming student, Student</li></ul>\n\n***This endpoint is in PREVIEW and may be changed or removed at any time.***"
      operationId: V1ContractsByUser_idGet
      parameters:
        - name: user_id
          in: path
          description: The user ID of the candidate or student
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserContractReadCollection'
              example:
                count: 1
                value:
                  - user:
                      id: 1
                      prefix: Mr.
                      first_name: John
                      middle_name: Quincy
                      last_name: Smith
                      suffix: Jr.
                      preferred_name: Jack
                      email: john@example.com
                    contract:
                      id: 1
                      name: 2027 Standard Contract
                      type:
                        id: 1
                        description: New contract type
                      school_year:
                        id: 1
                        description: 2025 - 2026
                      publish_date: '2026-11-01T12:00:00.0000000+00:00'
                      expire_date: '2027-05-01T12:00:00.0000000+00:00'
                      is_inactive: false
                    date_generated: '2026-11-01T12:00:00.0000000+00:00'
                    due_date: '2027-05-01T12:00:00.0000000+00:00'
                    date_sent: '2027-05-01T12:00:00.0000000+00:00'
                    date_returned: '2027-05-01T12:00:00.0000000+00:00'
                    date_processed: '2027-05-01T12:00:00.0000000+00:00'
                    tuition: 10000
                    tuition_insurance: false
                    deposits:
                      - amount_due: 1000
                        amount_received: 1000
                        received_date: '2027-05-01T12:00:00.0000000+00:00'
                        paid_by:
                          id: 1
                          prefix: Mr.
                          first_name: Kianna
                          middle_name: Mark
                          last_name: Reed
                          suffix: Jr.
                          preferred_name: ''
                          preferred_last_name: Reed
                          maiden_name: ''
                          email: kianna@example.com
                    fees:
                      - name:
                          id: 4
                          description: Enrollment Fees
                        amount: 100
                        category: Enrollment Fees
                    signers:
                      - user:
                          id: 1
                          prefix: Mr.
                          first_name: John
                          middle_name: Quincy
                          last_name: Smith
                          suffix: Jr.
                          preferred_name: Jack
                          email: john@example.com
                        date_signed: '2027-05-01T12:00:00.0000000+00:00'
                        date_accepted: '2027-05-01T12:00:00.0000000+00:00'
                    hold:
                      on_hold: false
                      type: Financial
                      comment: The hold truth
                    not_returning:
                      not_returning: false
                      confirmed_date: '2027-05-01T12:00:00.0000000+00:00'
                      confirmed_by:
                        id: 1
                        prefix: Mr.
                        first_name: Kianna
                        middle_name: Mark
                        last_name: Reed
                        suffix: Jr.
                        preferred_name: ''
                        preferred_last_name: Reed
                        maiden_name: ''
                        email: kianna@example.com
                      reason: The reasonable reason
                    special_text: The special contract text
                    comment: Uncommon comments
                    attachment: …/files/contract.pdf
                    status: Submitted
                    financial_aid_awards:
                      - type:
                          id: 5
                          description: Financial Aid
                        amount: 100
                    selected_payment_plans:
                      - payment_plan:
                          id: 1
                          name: 4-Pay Plan
                          number_of_payments: 4
                          is_inactive: false
                          insurance_required: false
                        payers:
                          - id: 1
                            prefix: Mr.
                            first_name: John
                            middle_name: Quincy
                            last_name: Smith
                            suffix: Jr.
                            preferred_name: Jack
                            email: john@example.com
                        payment_remaining: 0
components:
  schemas:
    Application:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the application
          format: int32
          nullable: true
        form:
          $ref: '#/components/schemas/TableValueBase'
        date_submitted:
          type: string
          description: The date the application was submitted
          format: date-time
          nullable: true
        date_processed:
          type: string
          description: The date the application was processed
          format: date-time
          nullable: true
      additionalProperties: false
      description: An object for application information
    CandidateChecklist:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ChecklistTypeRead'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/CandidateChecklistStepRead'
          description: An array of the candidate's checklist steps
          nullable: true
      additionalProperties: false
      description: 'An object with information about the candidate''s instance of a candidate checklist, include checklist type and steps'
    CandidateChecklistBase:
      type: object
      properties:
        id:
          type: integer
          description: The checklist id for the candidate that year
          format: int32
          nullable: true
        name:
          type: string
          description: The checklist name
          nullable: true
      additionalProperties: false
      description: An object with checklist information
    CandidateChecklistStepEdit:
      required:
        - step_type_id
      type: object
      properties:
        step_type_id:
          type: integer
          description: The ID of the checklist type's step
          format: int32
        status:
          type: string
          description: 'The candidate�s status for the checklist step. Allowed values: Awaiting, Requested, Waived, Completed'
          nullable: true
        date_due:
          type: string
          description: The due date of the step
          nullable: true
        date_completed:
          type: string
          description: The date the step was completed
          nullable: true
        comment:
          type: string
          description: 'The comment for the step. Max length: 4000 characters.'
          nullable: true
      additionalProperties: false
      description: An object with a candidate's checklist step values
    CandidateChecklistStepRead:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the checklist step for the candidate
          format: int32
          nullable: true
        type:
          $ref: '#/components/schemas/ChecklistStepRead'
        status:
          type: string
          description: The candidate�s status for this step.
          nullable: true
        due_date:
          type: string
          description: The due date of the step
          format: date-time
          nullable: true
        date_completed:
          type: string
          description: The date the step was completed
          format: date-time
          nullable: true
        comment:
          type: string
          description: The comment for this checklist step
          nullable: true
      additionalProperties: false
      description: 'An object with information about the candidate''s instance of a checklist step, including ID, type, status, date due and completed and the comment.'
    CandidateEventRead:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the candidate event
          format: int32
          nullable: true
        name:
          type: string
          description: The name of the event
          nullable: true
        type:
          $ref: '#/components/schemas/TableValueBase'
        start_time:
          type: string
          description: The start time of the event
          format: date-time
          nullable: true
        is_registered:
          type: boolean
          description: True if the candidate is registered
          nullable: true
        attended:
          type: boolean
          description: True if the candidate attended the event
          nullable: true
        comment:
          type: string
          description: The comment on the candidate event
          nullable: true
      additionalProperties: false
      description: An object with candidate event information
    CandidateInfo:
      type: object
      properties:
        id:
          type: integer
          description: The user ID of the user
          format: int32
          nullable: true
        first_name:
          type: string
          description: The first name of the user
          nullable: true
        last_name:
          type: string
          description: The last name of the user
          nullable: true
        middle_name:
          type: string
          description: The middle name of the user
          nullable: true
        preferred_name:
          type: string
          description: The preferred name of the user
          nullable: true
        prefix:
          type: string
          description: The prefix of the user
          nullable: true
        suffix:
          type: string
          description: The suffix of the user
          nullable: true
        email:
          type: string
          description: The email of the user
          nullable: true
        cc_email:
          type: string
          description: The copy email of the user
          nullable: true
        gender:
          $ref: '#/components/schemas/TableValue'
        pronouns:
          $ref: '#/components/schemas/TableValueBase'
        ethnicity:
          $ref: '#/components/schemas/TableValueBase'
        is_international:
          type: boolean
          description: True if the candidate is international
          nullable: true
        boarding_or_day:
          type: string
          description: The boarding/day status of the candidate. Returns B if boarding or D if day.
          nullable: true
        school_program:
          $ref: '#/components/schemas/TableValueBase'
        race:
          type: array
          items:
            $ref: '#/components/schemas/TableValueBase'
          description: An array of objects for race information
          nullable: true
      additionalProperties: false
      description: Candidate info model
    CandidateInterviewRead:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the candidate interview
          format: int32
          nullable: true
        type:
          $ref: '#/components/schemas/TableValueBase'
        start_time:
          type: string
          description: The start time of the interview
          format: date-time
          nullable: true
        end_time:
          type: string
          description: The end time of the interview
          format: date-time
          nullable: true
        interviewer:
          $ref: '#/components/schemas/UserBaseRead'
        interviewer_other:
          type: string
          description: Information for non-user interviewer
          nullable: true
        accompanying_adults:
          type: array
          items:
            $ref: '#/components/schemas/UserBaseRead'
          description: An array of accompanying adult objects
          nullable: true
        rating:
          type: integer
          description: The rating of the interview
          format: int32
          nullable: true
        is_rescheduled:
          type: boolean
          description: True if interview was rescheduled
          nullable: true
        did_not_show:
          type: boolean
          description: True if candidate did not show for interview
          nullable: true
        comment:
          type: string
          description: The comment for the interview
          nullable: true
      additionalProperties: false
      description: An object with candidate interview information
    CandidateRead:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/CandidateInfo'
        entering_year:
          $ref: '#/components/schemas/TableValueBase'
        entering_grade:
          $ref: '#/components/schemas/TableValue'
        role:
          $ref: '#/components/schemas/TableValueBase'
        candidate_status:
          type: string
          description: The candidate status for the entering year
          nullable: true
        status:
          $ref: '#/components/schemas/Status'
        school_decision:
          $ref: '#/components/schemas/SchoolDecision'
        family_photo:
          $ref: '#/components/schemas/FamilyPhoto'
        inquiry:
          $ref: '#/components/schemas/Inquiry'
        referral:
          $ref: '#/components/schemas/Referral'
        has_i20_form:
          type: boolean
          description: True if the candidate has an I-20 form
          nullable: true
        languages_at_home:
          type: string
          description: The language spoken at the candidate�s home
          nullable: true
        requested_financial_aid:
          type: boolean
          description: True if the candidate requested financial aid
          nullable: true
        has_iep:
          type: boolean
          description: True if the candidate has an individual education plan
          nullable: true
        has_504_plan:
          type: boolean
          description: True if the candidate has a 504 plan
          nullable: true
        has_private_evaluation:
          type: boolean
          description: True if the candidate has a private evaluation
          nullable: true
        bbtm_family_id:
          type: integer
          description: The BBTM family ID of the candidate
          format: int32
          nullable: true
        created_by:
          type: string
          description: Candidate created by
          nullable: true
        created:
          type: string
          description: Candidate creation date
          format: date-time
          nullable: true
        modified_by:
          type: string
          description: User modified candidate information or checklist status or user information
          nullable: true
        modified:
          type: string
          description: The timestamp of the latest change from candidate information or checklist status or user information
          format: date-time
          nullable: true
        reapply:
          $ref: '#/components/schemas/Reapply'
        skipped_grade:
          $ref: '#/components/schemas/SkippedGrade'
        withdrawn:
          $ref: '#/components/schemas/Withdrawn'
        special_concerns:
          $ref: '#/components/schemas/SpecialConcerns'
        educational_support:
          $ref: '#/components/schemas/EducationalSupport'
        tutoring:
          $ref: '#/components/schemas/Tutoring'
        application:
          $ref: '#/components/schemas/Application'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationship'
          description: An array of user relationship objects for the candidate
          nullable: true
        admissions_staff:
          $ref: '#/components/schemas/UserBaseRead'
        consultant:
          $ref: '#/components/schemas/UserBaseRead'
        sending_school:
          $ref: '#/components/schemas/SendingSchool'
        events:
          type: array
          items:
            $ref: '#/components/schemas/CandidateEventRead'
          description: An array of candidate event objects
          nullable: true
        interviews:
          type: array
          items:
[...]
