openapi: 3.0.1
info:
  title: School
  description: 'This API is used to provide access to school information such as users, academics, admissions, athletics, content, lists, and general school info.'
  version: '1.0'
servers:
  - url: https://api.sky.blackbaud.com/school
paths:
  /v1/roles:
    get:
      tags:
        - Core
      summary: Core roles
      description: "Returns a collection of core school user roles.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Any Manager Role</li></ul>"
      operationId: v1rolesget
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleCollection'
              example:
                count: 2
                value:
                  - id: 1
                    base_role_id: 14
                    hidden: false
                    name: Student
                  - id: 2
                    base_role_id: 15
                    hidden: false
                    name: Teacher
  /v1/years:
    get:
      tags:
        - Core
      summary: Core years
      description: "Returns a collection of core school years.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>"
      operationId: v1yearsget
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearCollection'
              example:
                count: 1
                value:
                  - id: 1
                    begin_date: '2018-08-30T12:00:00.0000000+00:00'
                    current_year: true
                    end_date: '2019-06-10T12:00:00.0000000+00:00'
                    published: true
                    school_year_label: 2018-2019
  /v1/levels:
    get:
      tags:
        - Core
      summary: Core school levels
      description: "Returns a collection of core school levels.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Any Manager Role</li></ul>"
      operationId: v1levelsget
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelCollection'
              example:
                count: 2
                value:
                  - id: 1
                    abbreviation: L
                    name: Lower School
                    address:
                      address1: Lower School Drive
                      address2: Lower School Drive
                      city: Charleston
                      state: SC
                      zip: '29401'
                      county_province: Charleston County
                      country: United States
                      phone: 843-555-4444
                      fax: 843-555-2222
                      website: www.brookfieldschool.edu
                    school_name: Brookfield School
                    school_address:
                      address1: 123 School Drive
                      address2: 123 School Drive
                      address3: 123 School Drive
                      city: Charleston
                      state: SC
                      zip: '29401'
                      county_province: Charleston County
                      country: United States
                      phone: 843-555-1111
                      fax: 843-555-2222
                      website: www.brookfieldschool.edu
                  - id: 2
                    abbreviation: M
                    name: Middle School
                    school_name: Brookfield School
                    school_address:
                      address1: 123 School Drive
                      address2: 123 School Drive
                      address3: 123 School Drive
                      city: Charleston
                      state: SC
                      zip: '29401'
                      county_province: Charleston County
                      country: United States
                      phone: 843-555-1111
                      fax: 843-555-2222
                      website: www.brookfieldschool.edu
  /v1/gradelevels:
    get:
      tags:
        - Core
      summary: Core grade levels
      description: "Returns a collection of core school grade levels.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>"
      operationId: v1gradelevelsget
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeLevelCollection'
              example:
                count: 2
                value:
                  - id: 1
                    active: true
                    description: Ninth Grade
                    abbreviation: '09'
                    name: Grade 9
                    promote_to_code: 1
                    promotion:
                      type: Next grade level
                      school_level:
                        id: 123
                        description: Upper School
                      grade_level:
                        id: 123
                        name: 10th Grade
                        abbreviation: '10'
                        active: true
                  - id: 2
                    active: true
                    description: Tenth Grade
                    abbreviation: '10'
                    name: Grade 10
                    promote_to_code: 1
                    promotion:
                      type: Next grade level
                      school_level:
                        id: 123
                        description: Upper School
                      grade_level:
                        id: 123
                        name: 11th Grade
                        abbreviation: '11'
                        active: true
  /v1/offeringtypes:
    get:
      tags:
        - Core
      summary: Core offering types
      description: "Returns a collection of core school offering types.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li></ul>"
      operationId: v1offeringtypesget
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingTypeCollection'
              example:
                count: 13
                value:
                  - id: 0
                    description: School
                  - id: 1
                    description: Academics
                  - id: 2
                    description: Activities
                  - id: 3
                    description: Advisory
                  - id: 4
                    description: Dorms
                  - id: 5
                    description: Transcript
                  - id: 6
                    description: OfferedCourse
                  - id: 8
                    description: SchoolWideAwards
                  - id: 9
                    description: Athletic
                  - id: 10
                    description: Admissions
                  - id: 11
                    description: Community groups
                  - id: 12
                    description: Mentor
                  - id: 13
                    description: Events
  /v1/terms:
    get:
      tags:
        - Core
      summary: Core terms
      description: "Returns a collection of core school terms.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>"
      operationId: v1termsget
      parameters:
        - name: school_year
          in: query
          description: The school year to get terms for. Defaults to the current school year.
          schema:
            type: string
        - name: offering_type
          in: query
          description: The offering type to filter terms by.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermCollection'
              example:
                count: 2
                value:
                  - id: 123
                    begin_date: '2018-08-30T12:00:00.0000000+00:00'
                    description: Term 1
                    end_date: '2019-11-24T12:00:00.0000000+00:00'
                    level_description: The first term
                    level_id: 1
                    offering_type: 1
                    school_year_label: 2018-2019
                    marking_periods:
                      - id: 1
                        name: Spring Term
                        start: '2026-01-31T12:00:00.0000000+00:00'
                        end: '2026-05-31T12:00:00.0000000+00:00'
                  - id: 1234
                    begin_date: '2018-11-25T12:00:00.0000000+00:00'
                    description: Term 2
                    end_date: '2019-02-01T12:00:00.0000000+00:00'
                    level_description: The second term
                    level_id: 1
                    offering_type: 1
                    school_year_label: 2018-2019
                    marking_periods:
                      - id: 1
                        name: Spring Term
                        start: '2026-01-31T12:00:00.0000000+00:00'
                        end: '2026-05-31T12:00:00.0000000+00:00'
  /v1/users:
    get:
      tags:
        - User
      summary: Users by role(s)
      description: "Returns a paginated collection of users, limited to 100 users per page.\n\r\nUse the record number as the ```marker``` value to return the next set of results. For example: ```marker=101``` will return the second set of results.\n\r\nResults are dependent on the directory settings of each user.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Billing Clerk</li><li>Password Manager</li><li>Contact Card Manager</li><li>Platform Manager</li><li>Admissions Manager</li></ul>"
      operationId: v1usersget
      parameters:
        - name: roles
          in: query
          description: Comma-delimited list of role IDs to get users for.
          required: true
          schema:
            type: string
        - name: first_name
          in: query
          description: Filter results by first name.
          schema:
            type: string
        - name: last_name
          in: query
          description: Filter results by last name.
          schema:
            type: string
        - name: email
          in: query
          description: Filter results by e-mail.
          schema:
            type: string
        - name: maiden_name
          in: query
          description: Filter results by maiden name.
          schema:
            type: string
        - name: grad_year
          in: query
          description: The beginning date in a school year (ex. 2017).
          schema:
            type: string
        - name: end_grad_year
          in: query
          description: The end date in a school year (ex. 2018). Enter a grad_year and end_grad_year to find matching results in the date range.
          schema:
            type: string
        - name: marker
          in: query
          description: The record number start at to return the next batch of data.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserReadCollection'
              example:
                count: 1
                next_link: /v1/users/?roles=4180&marker=101
                value:
                  - id: 1
                    deceased: false
                    display: John Smith
                    email: example@example.com
                    email_active: true
                    first_name: John
                    last_name: Smith
                    lost: false
                    maiden_name: ''
                    middle_name: Nolan
                    nick_name: Jonny
                    preferred_name: SuperStar
                    preferred_last_name: Smith
                    dob: '2002-10-15T12:00:00.0000000+00:00'
                    prefix: Mr.
                    suffix: III
    patch:
      tags:
        - User
      summary: User update
      description: "Updates the record of a single user. <b>Note:</b> Deleting/clearing data from a field requires the use of the ```fields_to_delete``` property described below \n\r\nReturns the ID of the user just updated upon success. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Platform Manager</li><li>Contact Card Manager</li></ul>"
      operationId: V1UsersPatch
      requestBody:
        description: User information to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEdit'
            example:
              affiliation: Test Affiliation
              birth_place: USA
              boarding_or_day: B
              cc_email: example@example.com
              cc_email_active: true
              citizenship: United States
              custom_field_one: custom value
              custom_field_two: custom value
              custom_field_three: custom value
              custom_field_four: custom value
              custom_field_five: custom value
              custom_field_six: custom value
              custom_field_seven: custom value
              custom_field_eight: custom value
              custom_field_nine: custom value
              custom_field_ten: custom value
              custom_field_10: custom value
              custom_field_3: custom value
              custom_field_2: custom value
              custom_field_1: custom value
              custom_field_4: custom value
              custom_field_5: custom value
              custom_field_6: custom value
              custom_field_7: custom value
              custom_field_8: custom value
              custom_field_9: custom value
              deceased: false
              dob: '1987-02-14T12:00:00.0000000+00:00'
              email: example@example.com
              email_active: true
              ethnicity: Latin American
              first_name: John
              gender: Male
              greeting: ''
              home_languages:
                - language: German
                - language: '5997'
              host_id: example-host-id
              id: 1
              international: Yes
              is_abroad: true
              latino_hispanic: Yes
              is_responsible_signer: true
              in_state:
                resident: Yes
                county: Merrimack
                from_date: '1987-02-14T12:00:00.0000000+00:00'
              last_name: Smith
              living_status: Single
              locker:
                number: '123'
                combo: ''
              lost: false
              maiden_name: ''
              mailbox:
                number: '222'
                combo: ''
              middle_name: Nolan
              passport:
                number: HG2345T
                expire_date: '2035-09-29T12:00:00.0000000+00:00'
              personal_bio: The is my personal bio
              primary_language: English
              preferred_name: Jonny
              preferred_lastname: Smith
              prefix: Mr.
              pronouns: (He/Him/His)
              public_bio: This is my public bio.
              races:
                - race_type: American Indian or Alaska Native
                - race_type: '1430'
              religion: Christian
              school_program: Ninja squad
              state_id: ''
              student_id: ''
              suffix: III
              summary_note: This is my summary note.
              visa:
                number: '12345678'
                status: Current
                type: Student
                issue_date: '2020-09-14T12:00:00.0000000+00:00'
                expire_date: '2025-09-28T12:00:00.0000000+00:00'
              fields_to_delete:
                - middle_name
                - locker.number
                - visa.number
              profile_photos:
                temp_name: lqprx9xtb41kdcmez20vzvgl72ov7p13.jpg
                original_name: originnal_name.jpg
      responses:
        '200':
          description: ID of the user just updated.
          content:
            application/json:
              schema:
                type: integer
                format: int64
              example:
                affiliation: Test Affiliation
                birth_place: USA
                boarding_or_day: B
                cc_email: example@example.com
                cc_email_active: true
                citizenship: United States
                custom_field_one: custom value
                custom_field_two: custom value
                custom_field_three: custom value
                custom_field_four: custom value
                custom_field_five: custom value
                custom_field_six: custom value
                custom_field_seven: custom value
                custom_field_eight: custom value
                custom_field_nine: custom value
                custom_field_ten: custom value
                custom_field_10: custom value
                custom_field_3: custom value
                custom_field_2: custom value
                custom_field_1: custom value
                custom_field_4: custom value
                custom_field_5: custom value
                custom_field_6: custom value
                custom_field_7: custom value
                custom_field_8: custom value
                custom_field_9: custom value
                deceased: false
                dob: '1987-02-14T12:00:00.0000000+00:00'
                email: example@example.com
                email_active: true
                ethnicity: Latin American
                first_name: John
                gender: Male
                greeting: ''
                home_languages:
                  - language: German
                  - language: '5997'
                host_id: example-host-id
                id: 1
                international: Yes
                is_abroad: true
                latino_hispanic: Yes
                is_responsible_signer: true
                in_state:
                  resident: Yes
                  county: Merrimack
                  from_date: '1987-02-14T12:00:00.0000000+00:00'
                last_name: Smith
                living_status: Single
                locker:
                  number: '123'
                  combo: ''
                lost: false
                maiden_name: ''
                mailbox:
                  number: '222'
                  combo: ''
                middle_name: Nolan
                passport:
                  number: HG2345T
                  expire_date: '2035-09-29T12:00:00.0000000+00:00'
                personal_bio: The is my personal bio
                primary_language: English
                preferred_name: Jonny
                preferred_lastname: Smith
                prefix: Mr.
                pronouns: (He/Him/His)
                public_bio: This is my public bio.
                races:
                  - race_type: American Indian or Alaska Native
                  - race_type: '1430'
                religion: Christian
                school_program: Ninja squad
                state_id: ''
                student_id: ''
                suffix: III
                summary_note: This is my summary note.
                visa:
                  number: '12345678'
                  status: Current
                  type: Student
                  issue_date: '2020-09-14T12:00:00.0000000+00:00'
                  expire_date: '2025-09-28T12:00:00.0000000+00:00'
                fields_to_delete:
                  - middle_name
                  - locker.number
                  - visa.number
                profile_photos:
                  temp_name: lqprx9xtb41kdcmez20vzvgl72ov7p13.jpg
                  original_name: originnal_name.jpg
    post:
      tags:
        - User
      summary: User create
      description: "Creates a new user record.\n\r\nReturns the newly created ID. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Platform Manager</li><li>Contact Card Manager</li></ul>"
      operationId: V1UsersPost
      requestBody:
        description: The user to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAdd'
            example:
              affiliation: Test Affiliation
              birth_place: USA
              boarding_or_day: B
              cc_email: example@example.com
              cc_email_active: true
              citizenship: United States
              custom_field_eight: custom value
              custom_field_five: custom value
              custom_field_four: custom value
              custom_field_nine: custom value
              custom_field_one: custom value
              custom_field_seven: custom value
              custom_field_six: custom value
              custom_field_ten: custom value
              custom_field_three: custom value
              custom_field_two: custom value
              deceased: false
              dob: '1987-02-14T12:00:00.0000000+00:00'
              email: example@example.com
              email_active: true
              ethnicity: Latin American
              first_name: John
              gender: Male
              greeting: ''
              home_languages:
                - language: German
                - language: '5997'
              host_id: example-host-id
              international: Yes
              is_abroad: true
              latino_hispanic: No
              is_responsible_signer: true
              in_state:
                resident: Yes
                county: Merrimack
                from_date: '1987-02-14T12:00:00.0000000+00:00'
              last_name: Smith
              living_status: Single
              locker:
                number: '123'
                combo: ''
              lost: false
              maiden_name: ''
              mailbox:
                number: '222'
                combo: ''
              middle_name: Nolan
              passport:
                number: HG2345T
                expire_date: '2035-09-29T12:00:00.0000000+00:00'
              personal_bio: This is my personal bio.
              primary_language: English
              preferred_name: Jonny
              preferred_lastname: Smith
              prefix: Mr.
              pronouns: (He/Him/His)
              public_bio: This is my public bio.
              races:
                - race_type: American Indian or Alaska Native
                - race_type: '1430'
              religion: Christian
              school_program: Ninja squad
              state_id: ''
              student_id: ''
              suffix: III
              summary_note: This is my summary note.
              visa:
                number: '12345678'
                status: Current
                type: Student
                issue_date: '2020-09-14T12:00:00.0000000+00:00'
                expire_date: '2025-09-28T12:00:00.0000000+00:00'
              profile_photos:
                temp_name: lqprx9xtb41kdcmez20vzvgl72ov7p13.jpg
                original_name: originnal_name.jpg
      responses:
        '200':
          description: ID of the user just created.
          content:
            application/json:
              schema:
                type: integer
                format: int64
              example:
                affiliation: Test Affiliation
                birth_place: USA
                boarding_or_day: B
                cc_email: example@example.com
                cc_email_active: true
                citizenship: United States
                custom_field_eight: custom value
                custom_field_five: custom value
                custom_field_four: custom value
                custom_field_nine: custom value
                custom_field_one: custom value
                custom_field_seven: custom value
                custom_field_six: custom value
                custom_field_ten: custom value
                custom_field_three: custom value
                custom_field_two: custom value
                deceased: false
                dob: '1987-02-14T12:00:00.0000000+00:00'
                email: example@example.com
                email_active: true
                ethnicity: Latin American
                first_name: John
                gender: Male
                greeting: ''
                home_languages:
                  - language: German
                  - language: '5997'
                host_id: example-host-id
                international: Yes
                is_abroad: true
                latino_hispanic: No
                is_responsible_signer: true
                in_state:
                  resident: Yes
                  county: Merrimack
                  from_date: '1987-02-14T12:00:00.0000000+00:00'
                last_name: Smith
                living_status: Single
                locker:
                  number: '123'
                  combo: ''
                lost: false
                maiden_name: ''
                mailbox:
                  number: '222'
                  combo: ''
                middle_name: Nolan
                passport:
                  number: HG2345T
                  expire_date: '2035-09-29T12:00:00.0000000+00:00'
                personal_bio: This is my personal bio.
                primary_language: English
                preferred_name: Jonny
                preferred_lastname: Smith
                prefix: Mr.
                pronouns: (He/Him/His)
                public_bio: This is my public bio.
                races:
                  - race_type: American Indian or Alaska Native
                  - race_type: '1430'
                religion: Christian
                school_program: Ninja squad
                state_id: ''
                student_id: ''
                suffix: III
                summary_note: This is my summary note.
                visa:
                  number: '12345678'
                  status: Current
                  type: Student
                  issue_date: '2020-09-14T12:00:00.0000000+00:00'
                  expire_date: '2025-09-28T12:00:00.0000000+00:00'
                profile_photos:
                  temp_name: lqprx9xtb41kdcmez20vzvgl72ov7p13.jpg
                  original_name: originnal_name.jpg
  /v1/academics/sections:
    get:
      tags:
        - Academics
      summary: Academics sections by school level
      description: "Returns a collection of academic sections for the specified school level.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Academic Group Manager</li></ul>"
      operationId: V1AcademicsSectionsGet
      parameters:
        - name: level_num
          in: query
          description: Level number.
          required: true
          schema:
            type: integer
            format: int32
        - name: school_year
          in: query
          description: The school year to get sections for. Corresponds to ```school_year_label``` in the <a href="https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget">Year list</a>. Defaults to the current school year.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademicsSectionCollection'
              example:
                count: 1
                value:
                  - teachers:
                      - id: 4567
                        head: true
                        name: John Smith
                        firstname: John
                        lastname: Smith
                        preferred_name: Jon
                        formatted_name: 'Smith, Jon'
                        email: jonsmith@example.com
                        cell_phone: 555-555-5555
                    custom_fields:
                      - usage_id: 12345
                        udf_usage_id: 5
                        data_type_id: 1
                        data_type: Data Type
                        data_type_description: Data Type Description
                        field_id: 0
                        field_name: Field Name
                        bit_value: true
                        int_value: 1
                        decimal_value: 1.5
                        text_value: Text Value
                        last_modified_user_id: 1
                        last_modified_date: '2023-10-17T12:00:00.0000000+00:00'
                        status: true
                        unique: true
                        required: true
                        table_id: 1
                        table_value_id: 1
                        table_value: Table Value
                        table_value_abbreviation: Table Value Abbreviation
                    block:
                      id: 2099
                      name: ADV
                      type:
                        id: 1
                        description: Academic
                      offering_type:
                        id: 1
                        description: Academics
                      is_inactive: false
                    room:
                      room_id: 1
                      room_number: LR7
                      name: Labroom 7
                      code: AH-LR7
                      capacity: '20'
                      building:
                        id: 1
                        description: Test Building
                      type:
                        id: 1
                        description: Academics
                    id: 123
                    course_code: '123'
                    duration:
                      id: 1
                      name: Duration Name
                    lead_section_id: 2
                    name: Section name
                    description: The course description for the section
                    offering_id: 1
                    parent_section_id: 2
                    room_id: 12
                    school_year: 2017-2018
                    section_identifier: Section Identifier
  '/v1/academics/sections/{section_id}/assignments':
    get:
      tags:
        - Academics
      summary: Academics assignments by section
      description: "Returns a collection of assignments for the specified ```section_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Student</li><li>Teacher</li><li>Pending Teacher</li></ul>"
      operationId: V1AcademicsSectionsBySection_idAssignmentsGet
      parameters:
        - name: section_id
          in: path
          description: The ID of the section.
          required: true
          schema:
            type: integer
            format: int32
        - name: types
          in: query
          description: Returns results that match a comma separated list of assignment type IDs.
          schema:
            type: string
        - name: status
          in: query
          description: 'The status of the assignment. The status corresponds with static system options. Allowed values: "0" for In Progress, "1" for Completed, "2" for Overdue, and "-1" for To Do.'
          schema:
            type: string
        - name: persona_id
          in: query
          description: 'The ID of the persona to get assignments. 3 = Faculty, 2 = Student. Defaults to 3.'
          schema:
            type: integer
            format: int32
        - name: filter
          in: query
          description: 'Return assignments based on the entered string: ```expired```, ```future```, or ```all```. All is the default sort value.'
          schema:
            type: string
        - name: search
          in: query
          description: Returns results with Descriptions or Titles that match search string.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentCollection'
              example:
                count: 1
                value:
                  - id: 7666244
                    date: '2018-08-30T12:00:00.0000000+00:00'
                    description: This is the description of the assignment
                    discussion: false
                    due_date: '2019-11-24T12:00:00.0000000+00:00'
                    enrolled: 0
                    graded_count: 0
                    index_id: 11967810
                    major: false
                    name: Test API assignment
                    publish_on_assigned: false
                    published: true
                    rank: 1
                    status: 2
                    type: Lab
                    type_id: 1705
                    rubric:
                      id: 1
                      description: Test rubric
  '/v1/users/{user_id}/relationships':
    get:
      tags:
        - User
      summary: Users relationships by user
      description: "Returns a collection of a relationships for the specified ```user_id```.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Payment Services Manager</li><li>Integration Manager</li><li>Contact Card Manager</li><li>Platform Manager</li><li>Admissions Manager</li></ul>"
      operationId: V1UsersByUser_idRelationshipsGet
      parameters:
        - name: user_id
          in: path
          description: The ID of the user.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipReadCollection'
              example:
                count: 1
                value:
                  - comment: Picks up student after school
                    contact: true
                    first_name: Maura
                    last_name: Smith
                    list_as_parent: true
                    parental_access: true
                    primary: false
                    relationship: 6
                    resides_with: true
                    show_parent: true
                    tuition_responsible_signer: true
                    type_id: 1
                    user_one_id: 1801001
                    user_one_role: Child
                    user_two_id: 3552640
    delete:
      tags:
        - User
      summary: Users relationship delete
      description: "Removes a relationship record from the specified ```user_id```.\n\r\nIf the related individual is also a user, the user profile of that user is preserved. Individuals may need to review or update their emergency contacts.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Payment Services Manager</li><li>Integration Manager</li><li>Contact Card Manager</li><li>Platform Manager</li></ul>"
      operationId: V1UsersByUser_idRelationshipsDelete
      parameters:
        - name: user_id
          in: path
          description: The ID of the user for whom you are deleting the relationship.
          required: true
          schema:
            type: integer
            format: int32
        - name: left_user
          in: query
          description: ID of the other user in the relationship.
          required: true
          schema:
            type: integer
            format: int32
        - name: relationship_type
          in: query
          description: Defines the relationship between left_user and this user.
          required: true
          schema:
            title: RelationshipType
            enum:
              - NOT_SET
              - StepParent_StepChild
              - GrGrandParent_GrGrandChild
              - Guardian_Ward
              - AuntUncle_NieceNephew
              - Grandparent_Grandchild
              - Parent_Child
              - Custodian_Student
              - Consultant_Student
              - Caretaker_Charge
              - SpousePartner_SpousePartner
              - StepSibling_StepSibling
              - ExHusband_ExWife
              - Associate_Associate
              - HalfSibling_HalfSibling
              - Husband_Wife
              - Spouse_Spouse
              - Sibling_Sibling
              - Cousin_Cousin
              - Friend_Friend
            type: string
            description: ''
      responses:
        '200':
          description: OK
    post:
      tags:
        - User
      summary: Users relationship create
      description: "Creates a relationship record for the specified ```user_id```.\n\r\nThis doesn't create a user profile for the related individual.\n\r\nReturns 200 OK\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Payment Services Manager</li><li>Integration Manager</li><li>Contact Card Manager</li><li>Platform Manager</li></ul>"
      operationId: V1UsersByUser_idRelationshipsPost
      parameters:
        - name: user_id
          in: path
          description: The ID of the user.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: Defines the relationship to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipCreate'
            example:
              relationship_type: Guardian_Ward
              give_parental_access: true
              list_as_parent: false
              tuition_responsible_signer: true
              left_user: 5409253
              resides_with: true
              do_not_contact: false
              primary: false
              comments: It�s all relative.
      responses:
        '200':
          description: OK
  /v1/users/phonetypes:
    get:
      tags:
        - User
      summary: Users phone types
      description: "Returns a collection of phone types.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Any Manager Role</li></ul>"
      operationId: V1UsersPhonetypesGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneTypeCollection'
              example:
                count: 2
                value:
                  - id: 123456
                    type: Home
                  - id: 123457
                    type: Home 2
  /v1/users/extended:
    get:
      tags:
        - User
      summary: Users extended by role(s)
      description: "Returns a paginated collection of extended user details, limited to 1000 users per page.\n\r\nUse the last user's ID as the ```marker``` value to return the next set of results.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>"
      operationId: V1UsersExtendedGet
      parameters:
        - name: base_role_ids
          in: query
          description: Comma-delimited list of base role IDs to get users for.
          required: true
          schema:
            type: string
        - name: marker
          in: query
          description: The user's ID to start at to return the next batch of data. Results will start with the next user in the result set.
          schema:
            type: integer
            format: int32
        - name: page_size
          in: query
          description: The number of records to return. Defaults to 1000
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtendedCollection'
              example:
                count: 1
                value:
                  - id: 1
                    addresses:
                      - id: 2315317
                        address_type: Home
                        salutations:
                          informal: Jack Smith
                          formal: Mr. and  Mrs. John and Jane Smith
                          household: The Smith Family
                        city: Bedford
                        country: United States
                        line_one: 493 Round Robin Drive
                        line_three: ''
                        line_two: ''
                        mailing_address: true
                        postal_code: '03110'
                        primary: false
                        province: ''
                        region: ''
                        shared: false
                        state: NH
                        type_id: 1495
                        user_id: 1801001
                    abroad: false
                    affiliation: AAA
                    audit_date: '2018-08-30T12:00:00.0000000+00:00'
                    birth_date: '1998-05-02T12:00:00.0000000+00:00'
                    birth_place: ''
                    boarding_or_day: B
                    cc_email_active: true
                    chat_service: ''
                    citizenship: Mexican
                    created_date: '1988-05-02T12:00:00.0000000+00:00'
                    custom_field_eight: ''
                    custom_field_five: ''
                    custom_field_four: ''
                    custom_field_nine: ''
                    custom_field_one: ''
                    custom_field_seven: ''
                    custom_field_six: ''
                    custom_field_ten: ''
                    custom_field_three: ''
                    custom_field_two: ''
                    deceased: false
                    deceased_date: '2018-08-30T12:00:00.0000000+00:00'
                    depart_date: '2018-08-30T12:00:00.0000000+00:00'
                    display: 'Holmes, Calvin (Cal) ''18'
                    education:
                      - id: 674483
                        degree: ''
                        field: ''
                        grad_year: '1988'
                        major: Business
                        school: Blackbaud University
                        sort_order: 1
                      - id: 670792
                        degree: ''
                        field: ''
                        grad_year: '1978'
                        major: ''
                        school: Oxford University
                        sort_order: 2
                    email: example@example.com
                    cc_email: ccEmail@example.com
                    email_active: true
                    enroll_date: '2018-08-30T12:00:00.0000000+00:00'
                    ethnicity: ''
                    first_name: John
                    gender: ''
                    gender_description: ''
                    greeting: ''
                    host_id: ''
                    home_languages:
                      - id: 1
                        description: French
                      - id: 2
                        description: English
                    is_responsible_signer: false
                    in_state:
                      resident: Yes
                      county: ''
                      from_date: '2026-03-02T11:06:47.0000000+00:00'
                    international: No
                    last_modified_date: '2008-05-02T12:00:00.0000000+00:00'
                    last_name: Smith
                    last_sync_date: '2018-08-30T12:00:00.0000000+00:00'
                    latino_hispanic: Yes
                    legacy_user_name: ''
                    living_arrangement: ''
                    lost: false
                    locker:
                      number: ''
                      combo: ''
                    maiden_name: ''
                    mailbox:
                      number: ''
                      combo: ''
                    middle_name: Nolan
                    misc_bio: ''
                    nick_name: Jonny
                    occupations:
                      - id: 1040150
                        begin_date: '2018-08-30T12:00:00.0000000+00:00'
                        business_name: ccdr
                        current: true
                        end_date: '2018-08-30T12:00:00.0000000+00:00'
                        industry: comp
                        job_function: computer
                        matching_gift: false
                        organization: abcv
                        parent_company: ab
                        profession: tech
                        specialty: new
                        title: Swimming Coach
                        url: http://abc.com
                        user_id: 2828293
                        years_employed: 3
                      - id: 117377
                        begin_date: '2018-08-30T12:00:00.0000000+00:00'
                        current: false
                        end_date: '2018-08-30T12:00:00.0000000+00:00'
                        job_function: ''
                        matching_gift: false
                        title: Headmaster
                        user_id: 2828293
                    online_presences:
                      - id: 1
                        type:
                          id: 1
                          description: FaceChat
                        link: www.facechat.com/janedoe
                    passport:
                      number: ''
                      expire_date: '2026-02-10T11:06:47.0000000+00:00'
                    personal_bio: ''
                    personal_website: ''
                    phones:
                      - id: 1221707
                        phone_type: Home
                        index_id: 365520
                        links:
                          - id: 2614
                            shared: false
                            shared_relationship: ''
                            shared_user: ''
                            type_id: Home 2
                            user_id: 1801001
                          - id: 1712
                            shared: true
                            shared_relationship: Child
                            shared_user: June Abelle
                            type_id: Home
                            user_id: 4969592
                        number: 603-669-7896
                        type_id: 1712
                        user_id: 1574389
                      - id: 4660802
                        phone_type: Work
                        index_id: 4112661
                        links: [ ]
                        number: 555-777-9999
                        type_id: 2614
                        user_id: 2844867
                    prefix: Mr.
                    preferred_name: Jonny
                    primary_language: English
                    profile_photo:
                      photo_url: ''
                      thumbnail_url: ''
                    profile_url: https://sisacademy.myschoolapp.com.sf.bbk12.com/app#profile/1574389/contactcard
                    pronouns: ''
                    public_bio: ''
                    races:
                      - race_type_id: 9
                        description: Black - African American
                        user_race_id: 102
                        user_id: 1801001
                      - race_type_id: 11
                        description: White
                        user_race_id: 101
                        user_id: 1801001
                    relationships:
                      - comment: Picks up student after school
                        contact: true
                        first_name: Maura
                        last_name: Smith
                        list_as_parent: true
                        parental_access: true
                        primary: false
                        relationship: 6
                        resides_with: true
                        show_parent: true
                        tuition_responsible_signer: true
                        type_id: 1
                        user_one_id: 1801001
                        user_one_role: Child
                        user_two_id: 3552640
                    religion: ''
                    retire_date: '2018-08-30T12:00:00.0000000+00:00'
                    roles:
                      - id: 1
                        base_role_id: 14
                        hidden: false
                        name: Student
                      - id: 2
                        base_role_id: 15
                        hidden: false
                        name: Teacher
                    screen_name: ''
                    school_program: ''
                    state_id: ''
                    student_id: '12345'
                    student_info:
                      grade_id: 0
                      grade_level_id: 1234
                      grad_year: '2018'
                      grade_level: '12'
                      grade_level_description: Senior
                      grade_level_abbreviation: '12'
                      grade_level_name: '12'
                      school_levels:
                        - id: 1
                          abbreviation: US
                          name: Upper School
                    suffix: ''
                    username: cholmes
                    visa:
                      number: '12345'
                      status:
                        id: 123
                        description: Expired
                      type:
                        id: 234
                        description: Student
                      issue_date: '2026-01-21T11:06:47.0000000+00:00'
                      expire_date: '2026-02-10T11:06:47.0000000+00:00'
                    preferred_last_name: Smith
  '/v1/academics/sections/{section_id}/students':
    get:
      tags:
        - Academics
      summary: Academics students by section
      description: "Returns a collection of students in the specified ```section_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Teacher</li></ul>"
      operationId: V1AcademicsSectionsBySection_idStudentsGet
      parameters:
        - name: section_id
          in: path
          description: 'The ID of the section, which can be found using <a href="https://developer.sky.blackbaud.com/docs/services/school/operations/V1AcademicsSectionsGet">Section list</a>.'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentCollection'
              example:
                count: 2
                value:
                  - id: 4866154
                    name: Chelsea Caynon
                  - id: 2861900
                    name: David Gagne
  /v1/users/changed:
    get:
      tags:
        - User
      summary: Users changed by base role(s)
      description: "Returns a paginated collection of users that have been created or modified within the specified timeframe. The timeframe is from the start_date to the start_date plus seven days.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>"
      operationId: V1UsersChangedGet
      parameters:
        - name: base_role_ids
          in: query
          description: Comma-delimited list of base role IDs to get users for.
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          description: 'The date to begin looking for changes. Use <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO-8601</a> date format: 2003-04-21.'
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtendedCollection'
              example:
                count: 1
                value:
                  - id: 1
                    addresses:
                      - id: 2315317
                        address_type: Home
                        salutations:
                          informal: Jack Smith
                          formal: Mr. and  Mrs. John and Jane Smith
                          household: The Smith Family
                        city: Bedford
                        country: United States
                        line_one: 493 Round Robin Drive
                        line_three: ''
                        line_two: ''
                        mailing_address: true
                        postal_code: '03110'
                        primary: false
                        province: ''
                        region: ''
                        shared: false
                        state: NH
                        type_id: 1495
                        user_id: 1801001
                    abroad: false
                    affiliation: AAA
                    audit_date: '2018-08-30T12:00:00.0000000+00:00'
                    birth_date: '1998-05-02T12:00:00.0000000+00:00'
                    birth_place: ''
                    boarding_or_day: B
                    cc_email_active: true
                    chat_service: ''
                    citizenship: Mexican
                    created_date: '1988-05-02T12:00:00.0000000+00:00'
                    custom_field_eight: ''
                    custom_field_five: ''
                    custom_field_four: ''
                    custom_field_nine: ''
                    custom_field_one: ''
                    custom_field_seven: ''
                    custom_field_six: ''
                    custom_field_ten: ''
                    custom_field_three: ''
                    custom_field_two: ''
                    deceased: false
                    deceased_date: '2018-08-30T12:00:00.0000000+00:00'
                    depart_date: '2018-08-30T12:00:00.0000000+00:00'
                    display: 'Holmes, Calvin (Cal) ''18'
                    education:
                      - id: 674483
                        degree: ''
                        field: ''
                        grad_year: '1988'
                        major: Business
                        school: Blackbaud University
                        sort_order: 1
                      - id: 670792
                        degree: ''
                        field: ''
                        grad_year: '1978'
                        major: ''
                        school: Oxford University
                        sort_order: 2
                    email: example@example.com
                    cc_email: ccEmail@example.com
                    email_active: true
                    enroll_date: '2018-08-30T12:00:00.0000000+00:00'
                    ethnicity: ''
                    first_name: John
                    gender: ''
                    gender_description: ''
                    greeting: ''
                    host_id: ''
                    home_languages:
                      - id: 1
                        description: French
                      - id: 2
                        description: English
                    is_responsible_signer: false
                    in_state:
                      resident: Yes
                      county: ''
                      from_date: '2026-03-02T11:06:47.0000000+00:00'
                    international: No
                    last_modified_date: '2008-05-02T12:00:00.0000000+00:00'
                    last_name: Smith
                    last_sync_date: '2018-08-30T12:00:00.0000000+00:00'
                    latino_hispanic: Yes
                    legacy_user_name: ''
                    living_arrangement: ''
                    lost: false
                    locker:
                      number: ''
                      combo: ''
                    maiden_name: ''
                    mailbox:
                      number: ''
                      combo: ''
                    middle_name: Nolan
                    misc_bio: ''
                    nick_name: Jonny
                    occupations:
                      - id: 1040150
                        begin_date: '2018-08-30T12:00:00.0000000+00:00'
                        business_name: ccdr
                        current: true
                        end_date: '2018-08-30T12:00:00.0000000+00:00'
                        industry: comp
                        job_function: computer
                        matching_gift: false
                        organization: abcv
                        parent_company: ab
                        profession: tech
                        specialty: new
                        title: Swimming Coach
                        url: http://abc.com
                        user_id: 2828293
                        years_employed: 3
                      - id: 117377
                        begin_date: '2018-08-30T12:00:00.0000000+00:00'
                        current: false
                        end_date: '2018-08-30T12:00:00.0000000+00:00'
                        job_function: ''
                        matching_gift: false
                        title: Headmaster
                        user_id: 2828293
                    online_presences:
                      - id: 1
                        type:
                          id: 1
                          description: FaceChat
                        link: www.facechat.com/janedoe
                    passport:
                      number: ''
                      expire_date: '2026-02-10T11:06:47.0000000+00:00'
                    personal_bio: ''
                    personal_website: ''
                    phones:
                      - id: 1221707
                        phone_type: Home
                        index_id: 365520
                        links:
                          - id: 2614
                            shared: false
                            shared_relationship: ''
                            shared_user: ''
                            type_id: Home 2
                            user_id: 1801001
                          - id: 1712
                            shared: true
                            shared_relationship: Child
                            shared_user: June Abelle
                            type_id: Home
                            user_id: 4969592
                        number: 603-669-7896
                        type_id: 1712
                        user_id: 1574389
                      - id: 4660802
                        phone_type: Work
                        index_id: 4112661
                        links: [ ]
                        number: 555-777-9999
                        type_id: 2614
                        user_id: 2844867
                    prefix: Mr.
                    preferred_name: Jonny
                    primary_language: English
                    profile_photo:
                      photo_url: ''
                      thumbnail_url: ''
                    profile_url: https://sisacademy.myschoolapp.com.sf.bbk12.com/app#profile/1574389/contactcard
                    pronouns: ''
                    public_bio: ''
                    races:
                      - race_type_id: 9
                        description: Black - African American
                        user_race_id: 102
                        user_id: 1801001
                      - race_type_id: 11
                        description: White
                        user_race_id: 101
                        user_id: 1801001
                    relationships:
                      - comment: Picks up student after school
                        contact: true
                        first_name: Maura
                        last_name: Smith
                        list_as_parent: true
                        parental_access: true
                        primary: false
                        relationship: 6
                        resides_with: true
                        show_parent: true
                        tuition_responsible_signer: true
                        type_id: 1
                        user_one_id: 1801001
                        user_one_role: Child
                        user_two_id: 3552640
                    religion: ''
                    retire_date: '2018-08-30T12:00:00.0000000+00:00'
                    roles:
                      - id: 1
                        base_role_id: 14
                        hidden: false
                        name: Student
                      - id: 2
                        base_role_id: 15
                        hidden: false
                        name: Teacher
                    screen_name: ''
                    school_program: ''
                    state_id: ''
                    student_id: '12345'
                    student_info:
                      grade_id: 0
                      grade_level_id: 1234
                      grad_year: '2018'
                      grade_level: '12'
                      grade_level_description: Senior
                      grade_level_abbreviation: '12'
                      grade_level_name: '12'
                      school_levels:
                        - id: 1
                          abbreviation: US
                          name: Upper School
                    suffix: ''
                    username: cholmes
                    visa:
                      number: '12345'
                      status:
                        id: 123
                        description: Expired
                      type:
                        id: 234
                        description: Student
                      issue_date: '2026-01-21T11:06:47.0000000+00:00'
                      expire_date: '2026-02-10T11:06:47.0000000+00:00'
                    preferred_last_name: Smith
  '/v1/users/{user_id}/phones':
    get:
      tags:
        - User
      summary: Users phones by user
      description: "Returns a collection phone numbers for the specified ```user_id```.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Platform Manager</li><li>Admissions Manager</li><li>Contact Card Manager</li></ul>"
      operationId: V1UsersByUser_idPhonesGet
      parameters:
        - name: user_id
          in: path
          description: The ID of the user.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneReadCollection'
              example:
                count: 2
                value:
                  - id: 1221707
                    phone_type: Home
                    index_id: 365520
                    links:
                      - id: 2614
                        shared: false
                        shared_relationship: ''
                        shared_user: ''
                        type_id: Home 2
                        user_id: 1801001
                      - id: 1712
                        shared: true
                        shared_relationship: Child
                        shared_user: June Abelle
                        type_id: Home
                        user_id: 4969592
                    number: 603-669-7896
                    type_id: 1712
                    user_id: 1574389
                  - id: 4660802
                    phone_type: Work
                    index_id: 4112661
                    links: [ ]
                    number: 555-777-9999
                    type_id: 2614
                    user_id: 2844867
    post:
      tags:
        - User
      summary: Users phone create
      description: "Creates a new phone record for the specified ```user_id```.\n\r\nReturns the ID of the phone number created.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Contact Card Manager</li></ul>"
      operationId: V1UsersByUser_idPhonesPost
      parameters:
        - name: user_id
          in: path
          description: The ID of the user.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The phone information to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneAdd'
            example:
              number: string
              type_id: 0
      responses:
        '200':
          description: ID of the phone just added.
          content:
            application/json:
              schema:
                type: integer
                format: int64
              example: 7654981
  '/v1/users/{user_id}/occupations':
    get:
      tags:
        - User
      summary: Users occupations by user ID
      description: "Returns a collection of occupations for the specified ```user_id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Admissions Manager</li><li>Contact Card Manager</li></ul>"
      operationId: V1UsersByUser_idOccupationsGet
      parameters:
        - name: user_id
          in: path
          description: The ID of the user.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupationReadCollection'
              example:
                count: 2
                value:
                  - id: 1040150
                    begin_date: '2018-08-30T12:00:00.0000000+00:00'
                    business_name: ccdr
                    current: true
                    end_date: '2018-08-30T12:00:00.0000000+00:00'
                    industry: comp
                    job_function: computer
                    matching_gift: false
                    organization: abcv
                    parent_company: ab
                    profession: tech
                    specialty: new
                    title: Swimming Coach
                    url: http://abc.com
                    user_id: 2828293
                    years_employed: 3
                  - id: 117377
                    begin_date: '2018-08-30T12:00:00.0000000+00:00'
                    current: false
                    end_date: '2018-08-30T12:00:00.0000000+00:00'
                    job_function: ''
                    matching_gift: false
                    title: Headmaster
                    user_id: 2828293
    post:
      tags:
        - User
      summary: Users occupation create
      description: "Creates an occupation record for the specified ```user_id```.\n\r\nReturns the ID of the occupation created. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Contact Card Manager</li></ul>"
      operationId: V1UsersByUser_idOccupationsPost
      parameters:
        - name: user_id
          in: path
          description: The ID of the user.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The occupation information to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OccupationCreate'
            example:
              business_name: string
              job_title: string
              business_url: string
              industry: string
              organization: string
              occupation: string
              matching_gift: true
              begin_date: string
              end_date: string
              specialty: string
              parent_company: string
              job_function: string
              years_employed: 0
              current: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
              example: 5782957
  '/v1/users/{user_id}/emergencycontacts':
    get:
      tags:
        - User
      summary: Users emergency contacts by user ID
      description: "Returns a collection of emergency contacts for the specified ```user_id```.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Admissions Manager</li><li>Contact Card Manager</li></ul>"
      operationId: V1UsersByUser_idEmergencycontactsGet
      parameters:
        - name: user_id
          in: path
          description: The ID of the user.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactList'
              example:
                id: 5
                email_contact_list:
                  - id: 1
                    automated_email: Emergency Only
                    contact_id: 1
                    email: example@aol.com
                    first_name: John
                    last_name: Smith
                    relationship: Child
                    relationship_id: 1
                    relationship_user_id: 11111
                    sort_order: 1
                    user_contact_id: 0
                phone_contact_list:
                  - id: 1
                    call_dialer: Emergency Only
                    contact_id: 1
                    first_name: John
                    last_name: Smith
                    phone_id: 1
                    phone_index_id: 1
                    phone_number: 555-555-5555
                    phone_type: Home
                    relationship: Child
                    relationship_id: 1
                    relationship_user_id: 11111
                    sort_order: 1
                    user_contact_id: 0
  '/v1/athletics/teams/{team_id}/roster':
    get:
      tags:
        - Athletics
      summary: Athletics team roster
      description: "Returns a collection of players and coaches for the specified athletic team's ID. \n\r\nThe ```team_id``` can be retrieved using the GET athletics teams endpoint. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>"
      operationId: V1AthleticsTeamsByTeam_idRosterGet
      parameters:
        - name: team_id
          in: path
          description: The ID for the team to get the roster for.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roster'
              example:
                id: 12345
                coaches:
                  count: 1
                  value:
                    - id: 3
                      first_name: Coach
                      last_name: One
                      title: Head Coach
                      preferred_name: Coach
                players:
                  count: 2
                  value:
                    - id: 1
                      accolades: Best jumper
                      first_name: Player
                      height: 5'1
                      hometown: Mushroom Kingdom
                      jersey: 1
                      last_name: One
                      position: First
                      returning_letter: true
                      team_captain: true
                      weight: '250'
                      preferred_name: Best
                      photos:
                        large_filename_url: //some.cdn.com/pathTo/largeFilename1
                        thumb_filename_url: //some.cdn.com/pathTo/thumbFilename1
                      publish_name: true
                      publish_height: true
                      publish_weight: true
                      publish_photo: true
                    - id: 2
                      accolades: ''
                      first_name: Player
                      height: 5'6
                      hometown: Mushroom Kingdom
                      jersey: 2
                      last_name: Two
                      position: Second
                      returning_letter: true
                      team_captain: false
                      weight: '170'
                      preferred_name: King
                      photos:
                        large_filename_url: //some.cdn.com/pathTo/largeFilename2
                        thumb_filename_url: //some.cdn.com/pathTo/thumbFilename2
                      publish_name: true
                      publish_height: true
                      publish_weight: true
                      publish_photo: true
  /v1/athletics/sports:
    get:
      tags:
        - Athletics
      summary: Athletics sports
      description: "Returns a collection of athletic sports.\n\r\nUse the optional ```season_id``` to filter the results by season.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Schedule Manager</li><li>Page Manager</li><li>Coach</li><li>Pending Coach</li></ul>"
      operationId: V1AthleticsSportsGet
      parameters:
        - name: season_id
          in: query
          description: Season ID
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportCollection'
              example:
                count: 2
                value:
                  - id: 10162
                    level:
                      id: 0
                      abbreviation: 'Upper School, Lower School, Entire School'
                    name: Soccer
                    season:
                      id: 643
                      name: Fall
                  - id: 20220
                    level:
                      id: 0
                      abbreviation: Upper School
                    name: Football
                    season:
                      id: 643
                      name: Fall
  /v1/academics/sections/students:
    post:
      tags:
        - Academics
      summary: Academics enroll students into sections
      description: "Adds bulk enrollment data (students and/or teachers) for the specified section(s).\n\r\nReturns True if successful, otherwise false.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>"
      operationId: V1AcademicsSectionsStudentsPost
      requestBody:
        description: Defines which users (students and/or teachers) should be added to which offerings (via ```section_id``` and duration ```id```)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEnrollment'
            example:
              id: 60708
              enrollment_date: '2021-08-08T12:00:00.0000000+00:00'
              section_ids: '90123567,89012345'
              user_ids: '12345678,9012345'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponse'
              example:
                value: true
  /v1/athletics/schedules:
    get:
      tags:
        - Athletics
      summary: Athletics schedules
      description: "Returns a collection of athletic games for the current school year. \n\r\nUse the ```start_date``` and/or ```end_date``` to filter to a specific timeframe. \n\r\nReturns data for a specific team by setting the ```team_id``` using the GET teams endpoint. \n\r\nReturns both games and practices by setting ```include_practice``` to true. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>"
      operationId: V1AthleticsSchedulesGet
      parameters:
        - name: start_date
          in: query
          description: Filter games/practices after this date
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: Filter games/practices before this date
          schema:
            type: string
            format: date-time
        - name: school_year
          in: query
          description: Filter on a specific school year. Defaults to current school year.
          schema:
            type: string
        - name: include_practice
          in: query
          description: Set to ```true``` to include practices with games. Defaults to false.
          schema:
            type: boolean
            default: false
        - name: team_id
          in: query
          description: Filter games/practices for a specific team. Defaults to all teams.
          schema:
            type: integer
            format: int32
            default: 0
        - name: last_modified
          in: query
          description: Set date to limit results to games with information changed on and after that date.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleItemCollection'
              example:
                count: 1
                value:
                  - id: 12345
                    alumni: false
                    cancelled: false
                    created: '2021-03-20T12:00:00.0000000+00:00'
                    departure_location: Front Door
                    departure_time: '2026-03-02'
                    description: Some details about the event
                    directions: 'Go out the front door, then take a left'
                    dismissal_time: '2026-03-02'
                    end_time: '2026-03-02'
                    end_time_span: '2026-03-02'
                    event_time:
                      date: '2021-03-20T12:00:00.0000000+00:00'
                      start: '2026-03-02'
                      end: '2026-03-02'
                      duration: '2026-03-02'
                    title: Week 7 Scrimmage
                    faculty: false
                    game_date: '2021-03-20T12:00:00.0000000+00:00'
                    game_time:
                      date: '2021-03-20T12:00:00.0000000+00:00'
                      start: '2026-03-02'
                      end: '2026-03-02'
                      duration: '2026-03-02'
                    highlight_id: 1234567
                    home_or_away: Home
                    invitational: false
                    last_modified: '2021-03-20T12:00:00.0000000+00:00'
                    league: false
                    location: 'Back field #2'
                    location_address:
                      address_line1: Back field
                      address_line2: '#2'
                      address_line3: Test Address
                      city: Groton
                      state: Sample state
                      country: Iraq
                      zip: '54321'
                      province: Province test
                    map_url: http://maps.google.com/someplace/somewhere
                    meet: 90123456
                    opponents:
                      - id: 9014556
                        name: Alabaster Brightwings
                        score: 77 - 11
                        win_loss: Win
                        opponent_score: '11'
                        team_score: '77'
                    pickup_time: '2026-03-02'
                    playoff: false
                    practice: false
                    published: true
                    require_dinner: false
                    require_lunch: false
                    rescheduled: true
                    rescheduled_date: '2021-03-20T12:00:00.0000000+00:00'
                    rescheduled_note: Rescheduled from last month to next month
                    room_id: 5678901
                    schedule_type: 1
                    scrimmage: true
                    section_id: 8901234
                    show_details: false
                    show_directions: true
                    show_versus: true
                    start_time: '2026-03-02'
                    team_id: 67890
                    time: '2026-03-02'
                    tournament: false
                    uniform_color: White (away)
  /v1/athletics/teams:
    get:
      tags:
        - Athletics
      summary: Athletics teams
      description: "Returns a collection of athletic teams for the current school year. \n\r\nUse the optional ```school_year``` parameter to specify a different year. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>"
      operationId: V1AthleticsTeamsGet
      parameters:
        - name: school_year
          in: query
          description: School year
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamCollection'
              example:
                count: 2
                value:
                  - id: 4316266
                    name: Average Joes
                    sport:
                      id: 31080
                      name: Dodgeball
                  - id: 4316264
                    name: YAY
                    sport:
                      id: 31076
                      name: Extreme Ball
  /v1/attendance:
    get:
      tags:
        - Attendance
      summary: Attendance record
      description: "Returns a collection of student attendance records for the specified day.\n</br>\r\nPlease use this <a href=\"https://webfiles-sc1.blackbaud.com/support/helpfiles/k12-kb/sis-tutorial-attendance-setup.html\"> Attendance Setup Guide</a> to verify your attendance settings.\n</br>\r\nRequires the following role in the Education Management system:\r\n<ul><li>Attendance Manager</li></ul>"
      operationId: V1AttendanceGet
      parameters:
        - name: level_id
          in: query
          description: The ID of the school level to retrieve attendance records.
          required: true
          schema:
            type: integer
            format: int32
        - name: day
          in: query
          description: The date to return attendance for.
          required: true
          schema:
            type: string
            format: date-time
        - name: offering_type
          in: query
          description: The offering type to retrieve records for.
          required: true
          schema:
            type: integer
            format: int32
        - name: excuse_type
          in: query
          description: Filters results to a specific excuse type.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceGetCollection'
              example:
                count: 2
                value:
                  - id: 3520290
                    attendance_of_record: true
                    attendance_type: false
                    block_name: A
                    comment: Field Trip
                    date: '2018-08-30T12:00:00.0000000+00:00'
                    excuse_category_description: Field Trip Category
                    excuse_category_id: 0
                    excuse_description: Field Trip
                    excuse_type_id: 396
                    excused: 1
                    grad_year: '2013'
                    grade: '12'
                    grade_level_sort: 1200
                    group_name: Sculture - 1 (A)
                    photo_file_name: thumb_user2845263_109153.jpg
                    section: '1'
                    section_id: 1300129
                    student_name: 'Arai, Emilia ''13'
                    student_user_id: 2845263
                    teacher_name: 'Viens, George'
                  - id: 3520291
                    attendance_of_record: true
                    attendance_type: false
                    block_name: E
                    comment: Field Trip
                    date: '2018-08-30T12:00:00.0000000+00:00'
                    excuse_category_description: Field Trip Category
                    excuse_category_id: 0
                    excuse_description: Field Trip
                    excuse_type_id: 396
                    excused: 1
                    grad_year: '2013'
                    grade: '11'
                    grade_level_sort: 1100
                    group_name: Latin III - 1 (E)
                    photo_file_name: thumb_user2845263_109162.jpg
                    section: '1'
                    section_id: 1300129
                    student_name: 'Smith, Ian'
                    student_user_id: 2845263
                    teacher_name: 'Sapsin, Flora'
    post:
      tags:
        - Attendance
      summary: Attendance record create
      description: "Creates a new attendance record for the specified student.\n</br>\r\nPlease use this <a href=\"https://webfiles-sc1.blackbaud.com/support/helpfiles/k12-kb/sis-tutorial-attendance-setup.html\"> Attendance Setup Guide</a> to verify your attendance settings.\n</br>\r\nRequires the following role in the Education Management system:\r\n<ul><li>Attendance Manager</li></ul>"
      operationId: V1AttendancePost
      requestBody:
        description: Information about the attendance report
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceCreate'
            example:
              student_user_id: 10
              begin_date: '2021-09-30T12:00:00.0000000+00:00'
              end_date: '2021-09-30T12:00:00.0000000+00:00'
              start_time: '2026-03-02'
              end_time: '2026-03-02'
              excuse_type_id: 153
              excuse_comment: College Trip
              reported_by: 11
      responses:
        '200':
          description: OK
  '/v1/academics/teachers/{teacher_id}/sections':
    get:
      tags:
        - Academics
      summary: Academics sections by teacher
      description: "Returns a collection of sections for the specified ```teacher_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Teacher</li></ul>"
      operationId: V1AcademicsTeachersByTeacher_idSectionsGet
      parameters:
        - name: teacher_id
          in: path
          description: The ID of the teacher to get sections for.
          required: true
          schema:
            type: integer
            format: int32
        - name: school_year
          in: query
          description: The school year. Corresponds to ```school_year_label``` in the <a href="https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget">Year list</a>.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcademicsSectionCollection'
              example:
                count: 1
                value:
                  - teachers:
                      - id: 4567
                        head: true
                        name: John Smith
                        firstname: John
                        lastname: Smith
                        preferred_name: Jon
                        formatted_name: 'Smith, Jon'
                        email: jonsmith@example.com
                        cell_phone: 555-555-5555
                    custom_fields:
                      - usage_id: 12345
                        udf_usage_id: 5
                        data_type_id: 1
                        data_type: Data Type
                        data_type_description: Data Type Description
                        field_id: 0
                        field_name: Field Name
                        bit_value: true
                        int_value: 1
                        decimal_value: 1.5
                        text_value: Text Value
                        last_modified_user_id: 1
                        last_modified_date: '2023-10-17T12:00:00.0000000+00:00'
                        status: true
                        unique: true
                        required: true
                        table_id: 1
                        table_value_id: 1
                        table_value: Table Value
                        table_value_abbreviation: Table Value Abbreviation
                    block:
                      id: 2099
                      name: ADV
                      type:
                        id: 1
                        description: Academic
                      offering_type:
                        id: 1
                        description: Academics
                      is_inactive: false
                    room:
                      room_id: 1
                      room_number: LR7
                      name: Labroom 7
                      code: AH-LR7
                      capacity: '20'
                      building:
                        id: 1
                        description: Test Building
                      type:
                        id: 1
                        description: Academics
                    id: 123
                    course_code: '123'
                    duration:
                      id: 1
                      name: Duration Name
                    lead_section_id: 2
                    name: Section name
                    description: The course description for the section
                    offering_id: 1
                    parent_section_id: 2
                    room_id: 12
                    school_year: 2017-2018
                    section_identifier: Section Identifier
  /v1/academics/departments:
    get:
      tags:
        - Academics
      summary: Academics departments
      description: "Returns a collection of academic departments.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>"
      operationId: V1AcademicsDepartmentsGet
      parameters:
        - name: level_id
          in: query
          description: Provide a school level ID to limit results to departments valid for the specified school level.
          schema:
            type: integer
            format: int32
        - name: include_nonacademic
          in: query
          description: Set to true to include non-academic departments in results. Defaults to false.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentCollection'
              example:
                count: 2
                value:
                  - id: 123
                    level_description: Upper School
                    name: Math
                    sort: 10
                    is_academic: true
                    description: ''
                    school_levels:
                      - id: 1
                        description: Upper School
                        abbreviation: US
                  - id: 124
                    level_description: Upper School
                    name: English
                    sort: 20
                    is_academic: true
                    description: All English for Lower school campus
                    school_levels:
                      - id: 1
                        description: Upper School
                        abbreviation: US
  '/v1/academics/sections/{section_id}/cycles':
    get:
      tags:
        - Academics
      summary: Academics cycles by section
      description: "Returns a collection of cycles for the specified ```section_id```.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Academic Group Manager</li></ul>"
      operationId: V1AcademicsSectionsBySection_idCyclesGet
      parameters:
        - name: section_id
          in: path
          description: The ID of the section.
          required: true
          schema:
            type: integer
            format: int32
        - name: duration_id
          in: query
          description: The ID of the term for which you want to return cycles. Defaults to the current term for the section provided.
          schema:
            type: integer
            format: int32
        - name: group_type
          in: query
          description: The Group Type for the section specified. Defaults to the 'Academics' (1).
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionCycles'
              example:
                section_id: 33444555
                course_title: Advanced Biology
                section_identifier: 01-A
                block_name: E
                course_code: '54321'
                cycles:
                  - schedule_set: Tue & Thur Eve
                    schedule_set_id: 101
                    week: 222
                    day: 345
                    begin_time: '2026-03-02'
                    end_time: '2026-03-02'
                    sun: false
                    mon: false
                    tue: true
                    wed: false
                    thu: true
                    fri: false
                    sat: false
                    room_full_name: Millhouse Rm110
                    canceled: false
  /v1/academics/schedules/sets:
    get:
      tags:
        - Academics
      summary: Academics schedule sets by level
      description: "Returns a collection of Schedule Sets for the specified ```level_num```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>"
      operationId: V1AcademicsSchedulesSetsGet
      parameters:
        - name: level_num
          in: query
          description: Level Number indicates which school you are working with.
          required: true
          schema:
            type: integer
            format: int32
        - name: school_year
          in: query
          description: The school year to get Schedule Sets for. Corresponds to ```school_year_label``` in the <a href="https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget">Year list</a>. Defaults to the current school year.
          schema:
            type: string
        - name: group_type
          in: query
          description: The Group Type to filter the collection of Schedule Sets. Defaults to the 'Academics' (1).
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSetCollection'
              example:
                count: 1
                value:
                  - schedule_set_id: 100200300
                    title: Thur Afternoons
                    meeting_time: true
                    rotation: true
                    begin_date: '2018-07-01T12:00:00.0000000+00:00'
                    end_date: '2019-06-15T12:00:00.0000000+00:00'
  '/v1/academics/schedules/sets/{schedule_set_id}':
    get:
      tags:
        - Academics
      summary: Academics schedule set
      description: "Returns details about the specified ```schedule_set_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>"
      operationId: V1AcademicsSchedulesSetsBySchedule_set_idGet
      parameters:
        - name: schedule_set_id
          in: path
          description: ID of the Schedule Set you seek.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSetDetails'
              example:
                begin_date: '2018-07-01T12:00:00.0000000+00:00'
                ScheduleSetId: 1234
                ScheduleSetDescription: Schedule Set E
                Effdate: '2018-07-01T12:00:00.0000000+00:00'
                Enddate: '2019-06-15T12:00:00.0000000+00:00'
                StartDay: 5
                StartWeek: 1
                MaxDay: 6
                MaxWeek: 1
[...]
